<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'joinpoll.-page-title'|translate"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!ready">
  Waiting for poll data...
</ion-content>

<ion-content *ngIf="ready && !p">
  Initializing poll...
</ion-content>

<ion-content *ngIf="ready && (p!=null)">
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <h4 [innerHtml]="'joinpoll.header'|translate:{poll_title:p.title}"></h4>
      <p [innerHtml]="(p.type=='winner'?'joinpoll.p1-winner':'joinpoll.p1-share')|translate:{due:p.due_string}"></p>
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <p [innerHtml]="'joinpoll.p2'|translate"></p>
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <p [innerHtml]="'joinpoll.p3'|translate"></p>
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <small>
        <p [innerHtml]="'joinpoll.p4'|translate"></p>
      </small>
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <small>
        <p [innerHtml]="'joinpoll.p5'|translate"></p>
      </small>
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <ion-button size="large" color="primary" slot="end" [disabled]="false" 
          shape="round"
          (click)="go_button_clicked()">
        <span [innerHtml]="'OK, let\'s go'"></span>&nbsp;
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-item>
  <ion-item class="ion-text-center">
    <ion-col class="ion-no-padding ion-no-margin">
      <small>
        <p [innerHtml]="'joinpoll.p6'|translate:{link_start:help_link_start,link_end:help_link_end}"></p>
      </small>
    </ion-col>
  </ion-item>
</ion-content>
