<ion-header>
  <ion-toolbar>
    <ion-title>New option</ion-title>
    <ion-button slot="end">
      <ion-icon name="send" slot="start"></ion-icon>
      OK
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <small>
        <b>Poll: XY</b><br/>
        Current options: Movie 1, Movie 2, Movie 3, Movie 4
      </small>
    </ion-item>
    <ion-item style="font-weight:bold;">
      <ion-text slot="start">New option:</ion-text><ion-input placeholder="Enter a short label or name for this option" required="true" autofocus="true"></ion-input>
    </ion-item>
    <ion-item style="vertical-align:top;">
        <ion-text slot="start">Description:</ion-text><ion-textarea rows="3" placeholder="Please give some description"></ion-textarea>
    </ion-item>
    <ion-item>
        <ion-text slot="start">Link:</ion-text><ion-input placeholder="You can paste a web address here" type="url"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
