node_modules/
docs/
.angular/
.git/
.gitignore
.vscode/
.idea/
coverage/
tmp/
temp/
platforms/
plugins/
www/
matrix-data/
guard-bot/node_modules/
screenshots/
*.md
*.log
*.tmp
*.sw[mnpcod]
secret*
nohup.out
