<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK) authors, and contributors, see CODEOWNERS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-header>

  <ion-item class="ion-no-margin ion-no-padding" style="--inner-padding-end:0px!important">
    <ion-toolbar style="padding-left: 16px;">

      <ion-icon slot="start" name="color-wand-outline"></ion-icon>&nbsp;
      <ion-text 
        style="font-weight: bold; font-size: larger;"
        [innerHtml]="'assist.-page-title' | translate">
      </ion-text>
      <ion-buttons slot="end">

        <!-- OFFLINE SIGN -- >
        <ng-container *ngIf="!window.navigator.onLine">
          <ion-icon name="cloud-offline-outline" color="grey"
            style="position: relative; bottom: -1px;">
          </ion-icon>
          <ion-icon name="alert-outline" color="grey">
          </ion-icon>
        </ng-container> 
        <!---->

        <!-- SYNCING SIGN: -->
        <ion-spinner *ngIf="!!P.p && P.p.syncing && window.navigator.onLine" name="crescent" color="grey"></ion-spinner>

        <!-- CLOSE BUTTON: -->
        <ion-button fill="clear" (click)="close()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
    
      </ion-buttons>
    </ion-toolbar>
  </ion-item>

  <!-- NAVIGATION -->

  <ion-item class="ion-no-margin ion-padding-left ion-text-center">
    <ng-container *ngIf="step > 1">
      <ion-button slot="start" fill="clear" class="ion-no-margin ion-no-padding"
          (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      &nbsp;
    </ng-container>
    <ion-label>
      <small>
        <b>
          <span [innerHtml]="'step-i-of-n'|translate:{i:Math.floor(step), n:n_steps}"></span>:

          <span [innerHtml]="'assist.-step-'+Math.floor(step)+'-title'|translate"></span>    
        </b>
      </small>
    </ion-label>
    <ng-container *ngIf="step < steps_reached && !changes">
      &nbsp;
      <ion-button slot="end" fill="clear" class="ion-no-margin ion-no-padding"
          (click)="forward()">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ng-container>
  </ion-item>

</ion-header>

<!-- SCROLLABLE CONTENT: -->

<ion-content *ngIf="P.ready"
    [scrollEvents]="true"
    (ionScroll)="onScroll()"    
    >

  <!-- STEP 1: FAVOURITE OPTION: -->

  <!-- selection: -->
  <ng-container *ngIf="step == 1">
    <ion-item>
      <p>
        <span [innerHtml]="'assist.favourite-intro-1'|translate"></span>
      </p>
    </ion-item>
    <ion-item color="warning" *ngIf="P.p.have_acted">
      <p>
        <span [innerHtml]="'assist.favourite-warn-change'|translate"></span>
      </p>
    </ion-item>
    <ion-item color="light">
      <p>
        <span [innerHtml]="'assist.favourite-intro-2'|translate"></span>
      </p>
    </ion-item>
    <ion-radio-group [(ngModel)]="favourite" (ngModelChange)="favourite_change()">
      <ion-item *ngFor="let item of [].constructor(P.oidsorted.length); let i = index">
        <ion-radio slot="start" [value]="P.oidsorted[i]"></ion-radio>
        <ion-label><i [innerHtml]="P.p.options[P.oidsorted[i]].name"></i></ion-label>
      </ion-item>  
    </ion-radio-group>
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          [disabled]="!favourite"
          (click)="submit_favourite()">
        <ion-label [innerHtml]="'OK'|translate"></ion-label>
      </ion-button>
    </ion-item>
    <ion-item lines="none">
      <small [innerHtml]="'assist.add-option-info' | translate"></small>
    </ion-item>
  </ng-container>

  <!-- explanation: -->
  <ng-container *ngIf="step == 1.1">
    <ion-item color="success">
      <p>
        <span [innerHtml]="'assist.favourite-explanation-1'|translate:{favourite: P.p.options[favourite].name}"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.favourite-explanation-2'|translate:{favourite: P.p.options[favourite].name}"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.favourite-explanation-3'|translate:{favourite: P.p.options[favourite].name}"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="understood_favourite()">
        <ion-label [innerHtml]="'next'|translate"></ion-label>
      </ion-button>
    </ion-item>
  </ng-container>
  
  <!-- STEP 2: ACCEPTABLE OPTIONS -->

  <!-- selection: -->
  <ng-container *ngIf="step == 2">
    <ion-item color="light">
      <p>
        <span [innerHtml]="'assist.acceptable-intro'|translate"></span>
      </p>
    </ion-item>
    <ion-item *ngFor="let item of [].constructor(P.oidsorted.length); let i = index">
      <ng-container *ngIf="P.oidsorted[i] == favourite">
        <ion-checkbox slot="start" checked="true" disabled="true" style="margin-right:30px;"></ion-checkbox>
        <ion-text color="black"><i [innerHtml]="P.p.options[P.oidsorted[i]].name"></i>&nbsp;<ion-text color="grey">(<span [innerHtml]="'favourite'|translate"></span>)</ion-text></ion-text>  
      </ng-container>
      <ng-container *ngIf="P.oidsorted[i] != favourite">
        <ion-checkbox [(ngModel)]="acceptable[P.oidsorted[i]]" (ngModelChange)="acceptable_change()" 
          slot="start"></ion-checkbox>
        <ion-label><i [innerHtml]="P.p.options[P.oidsorted[i]].name"></i></ion-label>  
      </ng-container>
    </ion-item>  
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="submit_acceptable()">
        <ion-label [innerHtml]="'OK'|translate"></ion-label>
      </ion-button>
    </ion-item>
  </ng-container>

  <!-- explanation: -->
  <ng-container *ngIf="step == 2.1">
    <ion-item color="success">
      <p>
        <span [innerHtml]="'assist.acceptable-explanation-1'|translate"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.acceptable-explanation-2'|translate"></span>
      </p>
    </ion-item>
    <ion-item color="success">
      <p>
        <span [innerHtml]="'assist.acceptable-explanation-3'|translate"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.acceptable-explanation-4'|translate"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.acceptable-explanation-5'|translate"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="understood_acceptable()">
        <ion-label [innerHtml]="'next'|translate"></ion-label>
      </ion-button>
    </ion-item>
  </ng-container>

  <!-- STEP 3: ESTIMATED APPROVAL FOR ACCEPTABLE OPTIONS: -->

  <!-- selection: -->
  <ng-container *ngIf="step == 3">
    <ion-item color="light">
      <p>
        <span [innerHtml]="'assist.estimates-intro'|translate"></span>
      </p>
    </ion-item>
    <ng-container *ngFor="let item of [].constructor(P.oidsorted.length); let i = index">
      <ion-item *ngIf="acceptable[P.oidsorted[i]] && P.oidsorted[i] != favourite">
        <ng-container *ngIf="P.oidsorted[i] != favourite">
          <ion-label><i [innerHtml]="P.p.options[P.oidsorted[i]].name"></i>&nbsp;</ion-label>
          <ion-buttons slot="end">
            <ion-input 
              inputmode="numeric" maxlength="3" size="3" type="number" min="0" max="100" step="5" 
              [(ngModel)]="estimates[P.oidsorted[i]]" 
              debounce="100" (ngModelChange)="estimate_change()"
            ></ion-input>&nbsp;%
          </ion-buttons>
        </ng-container>
      </ion-item>  
    </ng-container>
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="submit_estimates()">
        <ion-label [innerHtml]="'OK'|translate"></ion-label>
      </ion-button>
    </ion-item>
  </ng-container>

  <!-- explanation: -->
  <ng-container *ngIf="step == 3.1">
    <ion-item color="light">
      <p>
        <span [innerHtml]="'assist.estimates-explanation-1'|translate"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.estimates-explanation-2'|translate"></span>
      </p>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="understood_estimates()">
        <ion-label [innerHtml]="'next'|translate"></ion-label>
      </ion-button>
    </ion-item>
  </ng-container>

  <!-- STEP 4: SINCERE APPROVAL THRESHOLDS FOR ACCEPTABLE OPTIONS: -->

  <!-- selection: -->
  <ng-container *ngIf="step == 4">
    <ion-item *ngFor="let item of [].constructor(current_index); let i = index" color="secondary"
        (click)="go_index(i)" style="cursor: pointer;">
      <ion-label>
        <b><i [innerHtml]="P.p.options[thresholded_oids[i]].name"></i></b>
      </ion-label>
    </ion-item>
    <ion-item color="primary">
      <ion-label>
        <b><i [innerHtml]="P.p.options[thresholded_oids[current_index]].name"></i></b>
      </ion-label>
    </ion-item>
    <ion-item color="light">
      <p>
        <span [innerHtml]="'assist.thresholds-intro'|translate:{estimate:estimates[thresholded_oids[current_index]], option:P.p.options[thresholded_oids[current_index]].name}"></span>
      </p>
    </ion-item>
    <ion-item>
      <p>
        <span [innerHtml]="'assist.thresholds-question-1'|translate:{estimate:estimates[thresholded_oids[current_index]], option:P.p.options[thresholded_oids[current_index]].name}"></span>
      </p>
      <ion-buttons slot="end">
        <ion-button [innerHtml]="'yes'|translate" (click)="threshold_yes()" fill="solid"
          [color]="threshold_answer[thresholded_oids[current_index]]==true?'success':'light'"></ion-button>
        <ion-button [innerHtml]="'no'|translate" (click)="threshold_no()" fill="solid"
          [color]="threshold_answer[thresholded_oids[current_index]]==false?'warning':'light'"></ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngIf="threshold_answer[thresholded_oids[current_index]] == false">
      <p>
        <span [innerHtml]="'assist.thresholds-question-2'|translate"></span>
      </p>
      <ion-buttons slot="end">
        <ion-input 
          inputmode="numeric" maxlength="3" size="3" type="number" 
          [min]="estimates[thresholded_oids[current_index]]" max="100" step="5" 
          [(ngModel)]="thresholds[thresholded_oids[current_index]]" (ngModelChange)="threshold_change()"
          debounce="100">
        </ion-input>&nbsp;%
      </ion-buttons>
    </ion-item>
    <ion-item lines="none">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="submit_threshold()" [disabled]="threshold_answer[thresholded_oids[current_index]] != true && threshold_answer[thresholded_oids[current_index]] != false">
        <ion-label [innerHtml]="'OK'|translate"></ion-label>
      </ion-button>
    </ion-item>
    <ion-item *ngFor="let item of [].constructor(thresholded_oids.length-1-current_index); let j = index" color="secondary"
        (click)="go_index(current_index+1+j)" style="cursor: pointer;">
      <ion-label>
        <b><i [innerHtml]="P.p.options[thresholded_oids[current_index+1+j]].name"></i></b>
      </ion-label>
    </ion-item>
    <!-- debugging info:
    <ion-item>
      {{thresholded_oids}}, {{threshold_answer}}, {{JSON.stringify(thresholds)}}
    </ion-item>
    -->
  </ng-container>

  <!-- STEP 5: RESULTING RATINGS: -->

  <!-- selection: -->
  <ng-container *ngIf="step == 5">
    <ion-item color="success">
      <p>
        <span [innerHtml]="'assist.ratings-intro-1'|translate"></span>
      </p>
    </ion-item>
    <ion-item color="light">
      <p>
        <span [innerHtml]="'assist.ratings-intro-2'|translate"></span>
      </p>
    </ion-item>

    <ion-item  *ngFor="let item of [].constructor(acceptable_oids.length); let i = index">
      <ion-text *ngIf="acceptable_oids[i] == favourite">
        <p>
          <b><i [innerHtml]="P.p.options[favourite].name"></i></b>
        </p>
        <p [innerHtml]="'assist.ratings-favourite'|translate:{threshold:thresholds[acceptable_oids[i]], wap:ratings[acceptable_oids[i]]}"></p>
      </ion-text>
      <ion-text *ngIf="acceptable_oids[i] != favourite">
        <p>
          <b><i [innerHtml]="P.p.options[acceptable_oids[i]].name"></i></b>
        </p>
        <p [innerHtml]="'assist.ratings-acceptable'|translate:{threshold:thresholds[acceptable_oids[i]], wap:ratings[acceptable_oids[i]], more_than:100-ratings[acceptable_oids[i]]}"></p>
      </ion-text>
    </ion-item>
    <ion-item>
      <p [innerHtml]="'assist.ratings-other'|translate"></p>
    </ion-item>
    <ion-item color="light">
      <p [innerHtml]="'assist.ratings-extro'|translate"></p>
    </ion-item>
    <ion-item lines="none" style="padding-bottom: 10px!important;">
      <ion-button size="normal" shape="round" slot="end" style="padding-top: 10px;"
          (click)="understood_ratings()">
        <ion-label [innerHtml]="'OK'|translate"></ion-label>
      </ion-button>
    </ion-item>
    <!-- debugging info: -- >
    <ion-item>
      {{thresholded_oids}}, {{JSON.stringify(ratings)}}
    </ion-item>
    <!---->
  </ng-container>

  <ion-fab *ngIf="show_up" vertical="top" horizontal="end" slot="fixed" size="small" class="ion-no-margin ion-no-padding">
    <ion-fab-button size="small" color="light" (click)="scroll_to_top();">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab *ngIf="show_down" vertical="bottom" horizontal="end" slot="fixed" size="small" class="ion-no-margin ion-no-padding">
    <ion-fab-button size="small" color="light" (click)="scroll_to_bottom();">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
