<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<!-- TODO: add powered by ionic icon -->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'about.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
        <ion-img src="./assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--TODO: have this as an expandable list of topics, with the first one expanded by default-->
  <h3 [innerHtml]="'about.h1'|translate"></h3>
  <p>
    <b [innerHtml]="'about.p11'|translate">
    </b>
  </p>
  <p [innerHtml]="'about.p12'|translate">
  </p>
  <p [innerHtml]="'about.p13'|translate">
  </p>
  <p>
    <ion-icon class="poll-type" name="trophy" float-left></ion-icon>&nbsp;
    <span [innerHtml]="'about.p14'|translate">
    </span>
  </p>
  <small>
    <p [innerHtml]="'about.p15'|translate">
    </p>
    <p [innerHtml]="'about.p16'|translate">
    </p>
  </small>
  <p>
    <ion-icon class="poll-type" name="cut" float-left></ion-icon>&nbsp;
    <span [innerHtml]="'about.p17'|translate">
    </span>
  </p>
  <small>
    <p [innerHtml]="'about.p18'|translate">
    </p>
  </small>
  <h3 [innerHtml]="'about.h2'|translate"></h3>
    <p [innerHtml]="'about.p21'|translate:{github_url:environment.github_url}">
    </p>
  <h3 [innerHtml]="'about.h3'|translate"></h3>
    <p [innerHtml]="'about.p31'|translate:{support_vodle_url:environment.support_vodle_url}"></p>
</ion-content>
