<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{g.openpoll.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500">
    <g transform="translate(250 250)">
      <g id="c">
        <animateTransform
          attributeName="transform"
          type="rotate"
          from="0 0 0"
          to="-1000 0 0"
          fill="freeze"
          dur="4s"
          calcMode="spline"
          keyTimes="0;1"
          keySplines="0 0.25 0.5 1"
          />
        <circle cx="0" cy="0" r="200" fill="#bce4e5" stroke="none"/>
        <path d="M 0,0 l 0,-210 a 210 210 0 0 1 210 210 Z" fill="#9abcbd" />
      </g>
    </g>
    <path d="M 245,0 l 0,90 l 5,10 l 5,-10 l 0,-90 Z" fill="#000000" stroke="none"/>
  </svg>

  <ng-template [ngIf]="g.openpoll.winner!=null">
    <ion-list>
      <ion-item>
        <ion-grid no-padding no-margin>
          <ion-row no-padding padding-top no-margin>
            <ion-col no-padding no-margin>
              <b>{{g.openpoll.winner.name}}</b>
            </ion-col>
          </ion-row>
            <ion-row no-padding padding-bottom no-margin>
              <ion-col no-padding no-margin>
                <b><span style="color:#9abcbd">
                  <small>supported&nbsp;by&nbsp;</small>{{Math.round(p.apprs[g.openpoll.winner.oid]*1000)/10}}%</span>
                  <span style="color:#62a73b" [style.display]="approved[g.openpoll.winner.oid]?'inline':'none'"><small>&nbsp;(including&nbsp;you)</small></span>
                </b>
                <span [style.display]="g.openpoll.winner.desc!=null?'inline':'none'">
                  <br/>{{g.openpoll.winner.desc}}
                </span>
                <ng-template [ngIf]="g.openpoll.winner.uri!=null">
                  <ion-button (click)="g.showinbrowser(g.openpoll.winner.uri)" fill="clear" float-right no-padding padding-left no-margin>
                    <ion-icon name="open" slot="icon-only"></ion-icon>
                  </ion-button>
                </ng-template>
              </ion-col>
            </ion-row>
        </ion-grid>
      </ion-item>  
    </ion-list>
  </ng-template>
</ion-content>
