<!-- TODO:

  title "approval for \n ..."
  red -> blue
  "all ratings" align left
  animation: 
  - extend opposition, turn grey into blue, show collision (as a star?)
  - extend approval, turn grey into green
  - move both down
-->
<ion-content *ngIf="ready">
  <svg xmlns="http://www.w3.org/2000/svg" width="500px" height="500px" viewBox="-20 -20 140 140">
    <g transform="scale(1 -1) translate(0 -100)" font-family="Quicksand Medium" font-size="4">

      <line x1="-4" y1="-5" x2="106" y2="105" stroke-width="0.1" stroke="black" stroke-dasharray="3 2" />

      <g transform="translate(0, 72.5)">
        <rect [attr.x]="100*(1-a)" y="-12.5" [attr.width]="100*a" height="5" fill="#bce4e5" stroke="none" />
        <line x1="100" y1="-15" x2="100" y2="-5" stroke="#bce4e5" stroke-width="0.5" />
        <g transform="translate(100, -11.5) scale(1 -1)">
          <text fill="black" text-anchor="end">{{Math.round(a*1000)/10}}%&nbsp;approval&nbsp;</text>
        </g>
      </g>

      <g *ngFor="let item of rs; let i = index">
        <line stroke-width="0.5"
              [attr.y1]="poss[i]" [attr.y2]="poss[i]" [attr.x1]="-.5" [attr.x2]="rs[i]" [attr.stroke]="cs[i]" />
        <circle [attr.cy]="poss[i]" [attr.cx]="rs[i]" r="0.75" [attr.fill]="cs[i]" />
      </g>

      <line stroke-width="1" 
            [attr.y1]="poss[myi]" [attr.y2]="poss[myi]" [attr.x1]="-.5" [attr.x2]="myr" [attr.stroke]="cs[myi]" />
      <circle [attr.cy]="poss[myi]" [attr.cx]="rs[myi]" r="1.5" [attr.fill]="cs[myi]" />
      <g transform="translate(-2, 0) scale(1 -1)">
        <text x="0" [attr.y]="1-poss[myi]" [attr.fill]="cs[myi]" font-weight="bold" text-anchor="end">you</text>
      </g>

      <g transform="rotate(45) translate(0, 7)">
        <g transform="scale(1.4142, 1)">
          <rect [attr.x]="0" y="-12.5" [attr.width]="100*(1-a)-0.5" height="5" fill="#3465a480" stroke="none" />
        </g>
        <line x1="0" y1="-15" x2="0" y2="-5" stroke="#3465a480" stroke-width="0.5" />
        <g transform="translate(0, -11.5) scale(1 -1)">
          <text fill="black">&nbsp;{{Math.round((1-a)*1000)/10}}%&nbsp;opposition</text>
        </g>  
      </g>

      <g transform="scale(1 -1)">
        <text x="50" y="-105" fill="black" text-anchor="middle">ratings</text>
      </g>

    </g>
  </svg>
<!--
  <ion-button shape="round"
      (click)="ClosePopover()">
    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>&nbsp;
  </ion-button>
-->
</ion-content>
