<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'delrespond.-page-title'|translate"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ready">

  <!-- DEPENDING ON STATUS, SHOW DIFFERENT VERSIONS OF THE PAGE: -->

  <!-- Acceptance is possible: -->

  <ng-container *ngIf="status[0]=='possible'">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4><b [innerHtml]="'delrespond.header'|translate:{from:from,poll_title:p.title}"></b></h4> 
        <p [innerHtml]="'delrespond.intro'|translate"></p> 
        <small><p [innerHtml]="'delrespond.details'|translate"></p></small>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="warning"
            shape="round"
            (click)="decline()">
          <ion-icon name="ban"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.decline'|translate"></span>
        </ion-button>&nbsp;&nbsp;
        <ion-button size="large" color="primary"
            shape="round"
            (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.accept'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <small><p [innerHtml]="'delrespond.check-first'|translate"></p></small>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" size="small" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline" size="small"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
  </ng-container>

  <!-- Acceptance would lead to cycle: - ->
    (We do no longer disallow this. 
     TODO: We should however tell the user that a cycle is created) -->

  <ng-container *ngIf="status[1]=='cycle'||status[1]=='two-way'">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4 [innerHtml]="'delrespond.cycle-header'|translate:{from:from,poll_title:p.title}"></h4> 
        <ng-container *ngIf="status[1]=='two-way'">
          <p><b [innerHtml]="'delrespond.two-way-intro'|translate:{from:from}"></b></p> 
        </ng-container>
        <ng-container *ngIf="status[1]=='cycle'">
          <p [innerHtml]="'delrespond.cycle-intro'|translate:{from:from}"></p> 
        </ng-container>
        <p [innerHtml]="'delrespond.cycle-details'|translate"></p>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="warning"
            shape="round"
            (click)="decline()">
          <ion-icon name="ban"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.decline'|translate"></span>
        </ion-button>&nbsp;&nbsp;
        <ion-button size="large" color="primary" disabled="true"
            shape="round"
            (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.accept'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p [innerHtml]="'delrespond.cycle-revoke-first'|translate"></p>
        <ion-button shape="round" class="" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-col>
    </ion-item>  
  </ng-container>

  <!--
  <ng-container *ngIf="status=='cycle'">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4><b [innerHtml]="'delrespond.cycle-header'|translate:{from:from,poll_title:p.title}"></b></h4> 
        <p [innerHtml]="'delrespond.cycle-intro:{from:from}'|translate"></p> 
        <small><p [innerHtml]="'delrespond.details'|translate"></p></small>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p [innerHtml]="'delrespond.cycle-revoke-first'|translate"></p>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ion-button size="large" color="warning"
            shape="round"
            (click)="decline()">
          <ion-icon name="ban"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.decline'|translate"></span>
        </ion-button>&nbsp;&nbsp;
        <ion-button size="large" color="primary" disabled="true"
            shape="round"
            (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.accept'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
  </ng-container>
  -->
  
  <!-- Acceptance would exceed maximum allowed voting weight: -->

  <ng-container *ngIf="status[1]=='weight-exceeded'">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4><b [innerHtml]="'delrespond.weight-exceeded-header'|translate:{from:from,poll_title:p.title}"></b></h4> 
        <p [innerHtml]="'delrespond.weight-exceeded-intro:{from:from,limit:environment.delegation.max_weight}'|translate"></p> 
        <small><p [innerHtml]="'delrespond.details'|translate"></p></small>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p [innerHtml]="'delrespond.weight-exceeded-revoke-first'|translate"></p>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ion-button size="large" color="warning"
            shape="round"
            (click)="decline()">
          <ion-icon name="ban"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.decline'|translate"></span>
        </ion-button>&nbsp;&nbsp;
        <ion-button size="large" color="primary" disabled="true"
            shape="round"
            (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.accept'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
  </ng-container>

  <!-- Request was already accepted but can be declined after the fact: -->

  <ng-container *ngIf="status[0]=='accepted'">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4><b [innerHtml]="'delrespond.accepted-header'|translate:{from:from,poll_title:p.title}"></b></h4> 
        <p [innerHtml]="'delrespond.accepted-intro'|translate:{from:from,poll_title:p.title}"></p> 
        <small><p [innerHtml]="'delrespond.accepted-details'|translate"></p></small>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="warning"
            shape="round"
            (click)="decline()">
          <ion-icon name="ban"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.revoke'|translate"></span>
        </ion-button>&nbsp;&nbsp;
        <ion-button size="large" color="primary"
            shape="round"
            (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.keep'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <small><p [innerHtml]="'delrespond.check-first'|translate"></p></small>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" size="small" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline" size="small"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
  </ng-container>

  <!-- Request was already declined but can be accepted after the fact: -->

  <ng-container *ngIf="status[0]=='declined, possible'">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4><b [innerHtml]="'delrespond.declined-header'|translate:{from:from,poll_title:p.title}"></b></h4> 
        <p [innerHtml]="'delrespond.declined-intro'|translate:{from:from,poll_title:p.title}"></p> 
        <small><p [innerHtml]="'delrespond.declined-details'|translate"></p></small>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="warning"
            shape="round"
            (click)="decline()">
          <ion-icon name="ban"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.no-change'|translate"></span>
        </ion-button>&nbsp;&nbsp;
        <ion-button size="large" color="primary"
            shape="round"
            (click)="accept()">
          <ion-icon name="checkmark"></ion-icon>&nbsp;
          <span [innerHtml]="'delrespond.accept'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <small><p [innerHtml]="'delrespond.check-first'|translate"></p></small>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" size="small" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline" size="small"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
  </ng-container>

  <!-- Request was already declined and cannot be accepted: -->
  <ng-container *ngIf="(status[0]=='declined')&&(status[1]=='impossible')">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <h4><b [innerHtml]="'delrespond.declined-header'|translate:{from:from,poll_title:p.title}"></b></h4> 
        <p [innerHtml]="'delrespond.declined-intro'|translate:{from:from,poll_title:p.title}"></p> 
        <small><p [innerHtml]="'delrespond.declined-impossible-details'|translate"></p></small>
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="primary"
            shape="round"
            (click)="dismiss()">
          <span [innerHtml]="'OK'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <small><p [innerHtml]="'delrespond.check-first'|translate"></p></small>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" size="small" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline" size="small"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
  </ng-container>

  <!-- Poll is unknown: -->

  <ng-container *ngIf="(status[0]=='impossible')&&(status[1]=='poll-unknown')">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <p [innerHtml]="'delrespond.poll-unknown'|translate:{from:from}"></p> 
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="primary" 
            shape="round"
            (click)="dismiss()">
          <span [innerHtml]="'OK'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
  </ng-container>

  <!-- Poll is already closed (has already ended): -->

  <ng-container *ngIf="(status[0]=='closed')">
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <p [innerHtml]="'delrespond.closed'|translate:{from:from}"></p> 
      </ion-col>
    </ion-item>  
    <ion-item lines="none" class="ion-text-center">
      <ion-col class="ion-no-padding ion-no-margin">
        <ion-button size="large" color="primary"
            shape="round"
            (click)="dismiss()">
          <span [innerHtml]="'OK'|translate"></span>
        </ion-button>
      </ion-col>
    </ion-item>
    <ion-item lines="none" class="ion-text-center">
      <ion-label class="ion-no-padding ion-no-margin">
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <ion-button class="ion-no-margin ion-no-padding" fill="clear" size="small" [routerLink]="'/poll/'+p.pid">
          <ion-icon name="arrow-forward-outline" size="small"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
        </ion-button>  
      </ion-label>
    </ion-item>  
  </ng-container>

  <!-- We're still missing some data: -->
  
  <ng-container *ngIf="(status[0]=='impossible')&&(status[1]=='missing-data')">
    <ion-item [innerHtml]="'delrespond.try-again'|translate">      
      <!-- TODO: store this request anyway and show it as a badge in mypolls and as a banner in the poll once poll has been entered -->
    </ion-item>  
    <ion-button size="large" color="primary" slot="end"
        shape="round"
        (click)="dismiss()">
      <span [innerHtml]="'OK'|translate"></span>&nbsp;
    </ion-button>
  </ng-container>

  <!-- It's ourselves: -->

  <ng-container *ngIf="(status[0]=='impossible')&&(status[1]=='is-self')">
    <ion-item [innerHtml]="'delrespond.is-self'|translate">      
    </ion-item>  
    <ion-button size="large" color="primary" slot="end"
        shape="round"
        (click)="dismiss()">
      <span [innerHtml]="'OK'|translate"></span>&nbsp;
    </ion-button>
  </ng-container>

  <ng-container *ngIf="(status[0]=='impossible')&&(status[1]=='revoked')">
    <ion-item [innerHtml]="'delrespond.been-revoked'|translate">      
    </ion-item>
    <ion-button class="ion-no-margin ion-no-padding" fill="clear" size="small" [routerLink]="'/poll/'+p.pid">
      <ion-icon name="arrow-forward-outline" size="small"></ion-icon>&nbsp;<span [innerHtml]="'go-to-poll'|translate"></span>
    </ion-button>
  </ng-container>
  
</ion-content>
