<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'delrespond.-page-title'|translate"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ready">
  <ng-container *ngIf="!!p">
    <!-- TODO: check if delegation is possible or has already been granted! -->
    <ion-item lines="none">
      Act as delegate in 
      {{p.title}}
      ?
    </ion-item>  
    <ion-item lines="none">
      <ion-button size="large" color="warning" slot="end"
          shape="round"
          (click)="decline()">
        <ion-icon name="ban"></ion-icon>&nbsp;
        <span [innerHtml]="'delrespond.decline'|translate"></span>
      </ion-button>
      <ion-button size="large" color="primary" slot="end"
          shape="round"
          (click)="accept()">
        <ion-icon name="checkmark"></ion-icon>&nbsp;
        <span [innerHtml]="'delrespond.accept'|translate"></span>
      </ion-button>
    </ion-item>
  </ng-container>
  <ng-container *ngIg="!p">
    <ion-item>
      Poll unknown, please check if you received an invitation link. 
      If so, first use that link and then try this one again.
      <!-- TODO: store this request anyway and show it as a badge in mypolls and as a banner in the poll once poll has been entered -->
    </ion-item>  
    <ion-button size="large" color="primary" slot="end"
        shape="round"
        (click)="dismiss_unknown_poll()">
      <span [innerHtml]="'OK'|translate"></span>&nbsp;
    </ion-button>
  </ng-container>
</ion-content>
