<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'login.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<!--

TODO:
  - make text show completely on small screens (cannot be scrolled to top properly at the moment on Android)
  - hitting enter should submit
  - centralize logo


- if no conn. info in local db:
  - apparently user new on this device. ask if has used vodle before
    - if no: ask for new conn. info, try to connect as public user
      - if success, look for private user doc. 
        - if exists, notify that conn. info already in use (used vodle before after all?), try connecting as private user and updating user doc.
          - if success, done
          - otherwise, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
        - otherwise, try generating user
          - if success, try connecting as private user and generating user doc.
            - if success, done
            - otherwise, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
          - if not, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
      - otherwise, notify error, ask to verify conn. info, return to form 
    - if yes: ask for old conn. info or recovery file, ...
-->
<ion-content *ngIf="ready">
  <ion-grid class="center-grid">

    <ng-container *ngIf="step=='language'||step=='start'">
        <ion-item lines="none">
          <ion-label class="ion-text-center"><h1 style="width:100%;" [innerHtml]="'login.welcome'|translate"></h1></ion-label>
        </ion-item>
        <ion-item lines="none">
          <div style="width:100%;" class="ion-text-center">
            <img src="/assets/topleft_icon.png" style="width:306px;"/>
          </div>
        </ion-item>
        <ion-item lines="none">
          <p><br/><br/></p>
        </ion-item>
        <ion-item class="item-text-wrap">
          <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-language'|translate"></h1>
        </ion-item>
        <form [formGroup]="languageFormGroup">
          <ion-item>
            <ion-label position="floating" color="primary">
              <ion-icon name="language-outline"></ion-icon>&nbsp;
              <span [innerHtml]="'language'|translate"></span>
            </ion-label>
            <ion-select #ionSelects interface="popover" formControlName="language" (ionChange)="set_language()">
              <ion-select-option *ngFor="let lang of translate.langs" [value]="lang" [innerHtml]="G.S.language_names[lang]"></ion-select-option>
            </ion-select>
          </ion-item>
        </form>    
        <ion-item lines="none">
          <p><br/></p>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="larger" color="primary" slot="end" [disabled]="!languageFormGroup.valid" 
              shape="round"
              (click)="submit_language()">
            <span [innerHtml]="'next'|translate"></span>
            &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
        </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='used_before'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-used-before'|translate"></h1>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" size="large" color="primary" shape="round" 
          (click)="ask_used_before_yes()" [innerHtml]="'yes'|translate">
        </ion-button>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" size="large" color="primary" shape="round" 
          (click)="ask_used_before_no()" [innerHtml]="'no'|translate">
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="(step=='fresh_email')||(step=='old_email')">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="(step=='fresh_email'?'login.ask-fresh-email':'login.ask-old-email')|translate"></h1>
      </ion-item>
      <ion-item class="item-text-wrap">
          <p class="ion-text-center" style="width:100%;" [innerHtml]="(step=='fresh_email'?'login.ask-fresh-email-2':'login.ask-old-email-2')|translate"></p>
      </ion-item>
      <form [formGroup]="emailFormGroup">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'email'|translate"></ion-label>
                <ion-input #input_email
                  formControlName="email" 
                  type="text" inputmode="email" required autofocus="true"
                  (ionChange)="set_email()"
                  (keydown.enter)="submit_email()">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="validation-errors">
        <ng-container *ngFor="let validation of G.S.validation_messages.email">
          <div class="error-message" 
              *ngIf="emailFormGroup.get('email').hasError(validation.type) 
                      && (emailFormGroup.get('email').dirty || emailFormGroup.get('email').touched)"
              [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
        </div>  
        <ion-item lines="none">
          <p><br/><br/></p>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" size="larger" color="primary" slot="end" [disabled]="!emailFormGroup.valid" 
              shape="round"
              (click)="submit_email()">
            <span [innerHtml]="'next'|translate"></span>
            &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>    
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='fresh_password'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-fresh-password'|translate"></h1>
      </ion-item>
      <ion-item class="item-text-wrap">
        <p class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-fresh-password-2'|translate"></p>
      </ion-item>
      <form [formGroup]="passwordFormGroup">
        <div formGroupName="pw">
          <ion-row class="ion-no-padding ion-nowrap">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
                <ion-input #input_new_password
                  formControlName="password"
                  [type]="showing_password?'text':'password'" required autofocus="true"
                  (ionChange)="set_password()">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon><!--&nbsp;
              <span [innerHtml]="(showing_password?'hide':'show')|translate"></span>-->
            </ion-button>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of G.S.validation_messages.password">
              <div class="error-message" 
                  *ngIf="passwordFormGroup.get('pw.password').hasError(validation.type) 
                          && (passwordFormGroup.get('pw.password').dirty || passwordFormGroup.get('pw.password').touched)"
                  [innerHtml]="validation.message|translate">
              </div>
            </ng-container>
          </div>
          <ng-container>
            <ion-item>
              <ion-label position="floating" color="primary" [innerHtml]="'retype-password'|translate"></ion-label>
              <ion-input 
                formControlName="confirm_password" 
                #retype_password 
                [type]="showing_password?'text':'password'" required
                (ionChange)="set_password()"
                (keydown.enter)="submit_new_password()">
              </ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of G.S.validation_messages.passwords_match">
                <div class="error-message" 
                    *ngIf="passwordFormGroup.get('pw').hasError('must_match') 
                            && (passwordFormGroup.get('pw.confirm_password').dirty || passwordFormGroup.get('pw.confirm_password').touched)"
                    [innerHtml]="validation.message|translate">
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </form>    
      <ion-item lines="none">
        <p><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <ion-button size="larger" color="primary" slot="end" [disabled]="!passwordFormGroup.get('pw').valid" 
            shape="round"
            (click)="submit_new_password()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='old_password'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-old-password'|translate"></h1>
      </ion-item>
      <form [formGroup]="oldPasswordFormGroup">
        <div formGroupName="pw">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
                <ion-input #input_old_password
                  formControlName="password"
                  [type]="showing_password?'text':'password'" required autofocus="true"
                  (ionChange)="set_old_password()"
                  (keydown.enter)="submit_old_password()">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon>&nbsp;
              <span [innerHtml]="(showing_password?'hide':'show')|translate"></span>
            </ion-button>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of G.S.validation_messages.password">
              <div class="error-message" 
                  *ngIf="oldPasswordFormGroup.get('pw.password').hasError(validation.type) 
                          && (oldPasswordFormGroup.get('pw.password').dirty || oldPasswordFormGroup.get('pw.password').touched)"
                  [innerHtml]="validation.message|translate">
              </div>
            </ng-container>
          </div>
        </div>
      </form>    
      <ion-item lines="none">
        <p><br/><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <ion-button size="larger" color="primary" slot="end" [disabled]="!oldPasswordFormGroup.valid" 
            shape="round"
            (click)="submit_old_password()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='connected'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ready-to-start'|translate"></h1>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <!-- TODO: make this button (and similar buttons on other pages) respond to hitting "enter" -->
        <ion-button size="larger" color="primary" slot="end"
            shape="round" type="submit"
            (click)="connected_dismissed()">
          <span [innerHtml]="'start'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

  </ion-grid>
</ion-content>
