<!--
Copyright Contributors to the vodle project.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<!--
TODO:
- checkbox "store password" with caution
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'login.-page-title'|translate"></ion-title>
    <ion-buttons slot="end">

      <!-- OFFLINE SIGN -->
      <ng-container *ngIf="!window.navigator.onLine">
        <ion-icon name="cloud-offline-outline" color="grey"
          style="position: relative; bottom: -1px;">
        </ion-icon>
        <ion-icon name="alert-outline" color="grey">
        </ion-icon>
      </ng-container> 

      <!-- SYNCING SIGN -->
      <ion-spinner *ngIf="G.show_spinner || !window.navigator.onLine" name="crescent" color="grey"></ion-spinner>
      <ion-thumbnail *ngIf="!(G.show_spinner || !window.navigator.onLine)">
        <ion-img src="./assets/topright_icon.png" ></ion-img>
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--

TODO:
  - hitting enter should submit

- if no conn. info in local db:
  - apparently user new on this device. ask if has used vodle before
    - if no: ask for new conn. info, try to connect as public user
      - if success, look for private user doc. 
        - if exists, notify that conn. info already in use (used vodle before after all?), try connecting as private user and updating user doc.
          - if success, done
          - otherwise, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
        - otherwise, try generating user
          - if success, try connecting as private user and generating user doc.
            - if success, done
            - otherwise, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
          - if not, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
      - otherwise, notify error, ask to verify conn. info, return to form 
    - if yes: ask for old conn. info or recovery file, ...
-->
<ion-content *ngIf="ready">
  <ion-grid>

    <ng-container *ngIf="step=='language'||step=='start'">
        <ion-item lines="none">
          <ion-label class="ion-text-center"><h1 style="width:100%;" [innerHtml]="'login.welcome'|translate"></h1></ion-label>
        </ion-item>
        <ion-item lines="none">
          <div style="width:100%;" class="ion-text-center">
            <img src="./assets/topleft_icon.png" style="width:306px;"/>
          </div>
        </ion-item>
        <ion-item lines="none">
          <p><br/><br/></p>
        </ion-item>
        <ion-item class="item-text-wrap">
          <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-language'|translate"></h1>
        </ion-item>
        <form [formGroup]="languageFormGroup">
          <ion-item>
            <ion-label position="floating" color="primary">
              <ion-icon name="language-outline"></ion-icon>&nbsp;
              <span [innerHtml]="'language'|translate"></span>
            </ion-label>
            <ion-select #ionSelects interface="popover" formControlName="language" 
                [cancelText]="'cancel'|translate" [okText]="'OK'|translate" 
                (ionChange)="set_language()">
              <ion-select-option *ngFor="let lang of translate.langs" [value]="lang" [innerHtml]="G.S.language_names[lang]"></ion-select-option>
            </ion-select>
          </ion-item>
        </form>    
        <ion-item lines="none">
          <p><br/></p>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="larger" color="primary" slot="end" [disabled]="!languageFormGroup.valid" 
              shape="round"
              (click)="submit_language()">
            <span [innerHtml]="'next'|translate"></span>
            &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='used_before'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-used-before'|translate"></h1>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" size="large" color="primary" shape="round" 
          (click)="ask_used_before_yes()" [innerHtml]="'yes'|translate">
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" size="large" color="primary" shape="round" 
          (click)="ask_used_before_no()" [innerHtml]="'no'|translate">
        </ion-button>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="(step=='fresh_email')||(step=='old_email')">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="(step=='fresh_email'?'login.ask-fresh-email':'login.ask-old-email')|translate"></h1>
      </ion-item>
      <ion-item class="item-text-wrap">
          <p class="ion-text-center" style="width:100%;" [innerHtml]="(step=='fresh_email'?'login.ask-fresh-email-2':'login.ask-old-email-2')|translate"></p>
      </ion-item>
      <form [formGroup]="emailFormGroup">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'email'|translate"></ion-label>
                <ion-input #input_email
                  formControlName="email" [maxlength]="E.max_len.name"
                  type="text" inputmode="email" autofocus="true"
                  (ionChange)="set_email()" debounce="100"
                  (keydown.enter)="submit_email()">
                </ion-input><!--TODO: add "required" once the problem is solved that the privacy link does not work properly when field left empty-->
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="validation-errors">
        <ng-container *ngFor="let validation of G.S.validation_messages.email">
          <div class="error-message" 
              *ngIf="emailFormGroup.get('email').hasError(validation.type) 
                      && (emailFormGroup.get('email').dirty || emailFormGroup.get('email').touched)"
              [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
        </div>  
      </form>
      <ion-item lines="none" class="item-text-wrap">
        <ion-checkbox slot="start" value="false" [(ngModel)]="accept_privacy"></ion-checkbox>
        <small><p>
          <span [innerHtml]="'login.consent-privacy-before-privacy'|translate"></span><a target="_blank" [href]="E.privacy_statement_url" [innerHtml]="'login.consent-privacy-privacy'|translate"></a><span [innerHtml]="'login.consent-privacy-after-privacy'|translate"></span>
        </p></small>
      </ion-item>
      <ion-item lines="none">
        <ion-button type="submit" size="larger" color="primary" slot="end" 
            [disabled]="!emailFormGroup.valid || !accept_privacy || emailFormGroup.get('email').value==''" 
            shape="round"
            (click)="submit_email()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='fresh_password'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-fresh-password'|translate"></h1>
      </ion-item>
      <ion-item class="item-text-wrap">
        <p class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-fresh-password-2'|translate"></p>
      </ion-item>
      <form [formGroup]="passwordFormGroup">
        <div formGroupName="pw">
          <ion-row class="ion-no-padding ion-nowrap">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
                <ion-input #input_new_password
                  formControlName="password"
                  clearOnEdit="false" clearInput="true" [maxlength]="E.max_len.name"
                  [type]="showing_password?'text':'password'" required autofocus="true"
                  autocomplete="off" autocorrect="off"
                  (ionChange)="set_password()" debounce="100"
                  (ionBlur)="blur_password()">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon><!--&nbsp;
              <span [innerHtml]="(showing_password?'hide':'show')|translate"></span>-->
            </ion-button>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of G.S.validation_messages.password">
              <div class="error-message" 
                  *ngIf="passwordFormGroup.get('pw.password').hasError(validation.type) 
                          && (passwordFormGroup.get('pw.password').dirty || passwordFormGroup.get('pw.password').touched)"
                  [innerHtml]="validation.message|translate">
              </div>
            </ng-container>
          </div>
          <ng-container>
            <ion-item>
              <ion-label position="floating" color="primary" [innerHtml]="'retype-password'|translate"></ion-label>
              <ion-input 
                formControlName="confirm_password" 
                #input_retype_password  [maxlength]="E.max_len.name"
                clearOnEdit="false" clearInput="true"
                [type]="showing_password?'text':'password'" required
                autocomplete="off" autocorrect="off"
                (ionChange)="set_password()" debounce="100"
                (keydown.enter)="submit_new_password()">
              </ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of G.S.validation_messages.passwords_match">
                <div class="error-message" 
                    *ngIf="passwordFormGroup.get('pw').hasError('must_match') 
                            && (passwordFormGroup.get('pw.confirm_password').dirty || passwordFormGroup.get('pw.confirm_password').touched)"
                    [innerHtml]="validation.message|translate">
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </form>    
      <!--
      <ion-item lines="none" class="item-text-wrap">
        <ion-checkbox slot="start" value="false" [(ngModel)]="save_password"></ion-checkbox>
        <ion-label [innerHtml]="'login.store-password'|translate"></ion-label>
      </ion-item>
      -->
      <ion-item lines="none">
        <p><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <ion-button size="larger" color="primary" slot="end" [disabled]="!passwordFormGroup.get('pw').valid" 
            shape="round"
            (click)="submit_new_password()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='old_password'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-old-password'|translate"></h1>
      </ion-item>
      <form [formGroup]="oldPasswordFormGroup">
        <div formGroupName="pw">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
                <ion-input #input_old_password
                  formControlName="password"
                  clearOnEdit="false" clearInput="true" [maxlength]="E.max_len.name"
                  [type]="showing_password?'text':'password'" required autofocus="true"
                  autocomplete="off" autocorrect="off"
                  (ionChange)="set_old_password()" debounce="100"
                  (keydown.enter)="submit_old_password()">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon>&nbsp;
              <span [innerHtml]="(showing_password?'hide':'show')|translate"></span>
            </ion-button>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of G.S.validation_messages.password">
              <div class="error-message" 
                  *ngIf="oldPasswordFormGroup.get('pw.password').hasError(validation.type) 
                          && (oldPasswordFormGroup.get('pw.password').dirty || oldPasswordFormGroup.get('pw.password').touched)"
                  [innerHtml]="validation.message|translate">
              </div>
            </ng-container>
          </div>
        </div>
      </form>    
      <!--
      <ion-item lines="none" class="item-text-wrap">
        <ion-checkbox slot="start" value="false" [(ngModel)]="save_password"></ion-checkbox>
        <ion-label [innerHtml]="'login.store-password'|translate"></ion-label>
      </ion-item>
      -->
      <ion-item lines="none">
        <p><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <ion-button size="larger" color="primary" slot="end" [disabled]="!oldPasswordFormGroup.valid" 
            shape="round"
            (click)="submit_old_password()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='connected'">
      <ion-item class="item-text-wrap" lines="none">
        <ion-col>
          <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ready-to-start'|translate"></h1>
          <p class="ion-text-center" style="width:100%;" [innerHtml]="'login.ready-to-start-detail'|translate"></p>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/></p>
      </ion-item>
      <form>
        <ion-item lines="none">
          <!-- TODO: make this button (and similar buttons on other pages) respond to hitting "enter" -->
          <ion-button size="larger" color="primary" slot="end"
              shape="round" type="submit" id="dismiss_button" 
              (click)="connected_dismissed()">
            <span [innerHtml]="'start'|translate"></span>
            &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>
      <ion-item *ngIf="terms_expanded">
      </ion-item>
    </ng-container>

  </ion-grid>
</ion-content>
