<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'login.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>
<!--

TODO:
  - make text show completely on small screens (cannot be scrolled to top properly at the moment on Android)
  - hitting enter should submit
  - centralize logo


- if no conn. info in local db:
  - apparently user new on this device. ask if has used vodle before
    - if no: ask for new conn. info, try to connect as public user
      - if success, look for private user doc. 
        - if exists, notify that conn. info already in use (used vodle before after all?), try connecting as private user and updating user doc.
          - if success, done
          - otherwise, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
        - otherwise, try generating user
          - if success, try connecting as private user and generating user doc.
            - if success, done
            - otherwise, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
          - if not, notify error, ask to verify username and password or contact server admin to correct permissions, return to form
      - otherwise, notify error, ask to verify conn. info, return to form 
    - if yes: ask for old conn. info or recovery file, ...
-->
<ion-content *ngIf="ready">
  <ion-grid class="center-grid">

    <ng-container *ngIf="step=='language'||step=='start'">
        <ion-item lines="none">
          <ion-label class="ion-text-center"><h1 style="width:100%;" [innerHtml]="'login.welcome'|translate"></h1></ion-label>
        </ion-item>
        <ion-item lines="none">
          <div style="width:100%;" class="ion-text-center">
            <img src="/assets/topleft_icon.png" style="width:306px;"/>
          </div>
        </ion-item>
        <ion-item lines="none">
          <p><br/><br/></p>
        </ion-item>
        <ion-item class="item-text-wrap">
          <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-language'|translate"></h1>
        </ion-item>
        <form [formGroup]="languageFormGroup">
          <ion-item>
            <ion-label position="floating" color="primary">
              <ion-icon name="language-outline"></ion-icon>&nbsp;
              <span [innerHtml]="'language'|translate"></span>
            </ion-label>
            <ion-select #ionSelects interface="popover" formControlName="language" (ionChange)="set_language()">
              <ion-select-option *ngFor="let lang of translate.langs" [value]="lang" [innerHtml]="G.S.language_names[lang]"></ion-select-option>
            </ion-select>
          </ion-item>
        </form>    
        <ion-item lines="none">
          <p><br/></p>
        </ion-item>
        <ion-item lines="none">
          <ion-button size="larger" color="primary" slot="end" [disabled]="!languageFormGroup.valid" 
              shape="round"
              (click)="submit_language()">
            <span [innerHtml]="'next'|translate"></span>
            &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
        </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='used_before'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-used-before'|translate"></h1>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" size="large" color="primary" shape="round" 
          (click)="ask_used_before_yes()" [innerHtml]="'yes'|translate">
        </ion-button>
      </ion-item>
      <ion-item lines="none">
      </ion-item>
      <ion-item lines="none">
        <ion-button slot="end" size="large" color="primary" shape="round" 
          (click)="ask_used_before_no()" [innerHtml]="'no'|translate">
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
      <ion-item class="item-text-wrap" lines="none">
        <small><p class="ion-text-center" style="width:100%;" [innerHtml]="'login.cookie-banner'|translate"></p></small>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="(step=='fresh_email')||(step=='old_email')">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="(step=='fresh_email'?'login.ask-fresh-email':'login.ask-old-email')|translate"></h1>
      </ion-item>
      <ion-item class="item-text-wrap">
          <p class="ion-text-center" style="width:100%;" [innerHtml]="(step=='fresh_email'?'login.ask-fresh-email-2':'login.ask-old-email-2')|translate"></p>
      </ion-item>
      <form [formGroup]="emailFormGroup">
        <ion-grid class="ion-no-padding">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'email'|translate"></ion-label>
                <ion-input #input_email
                  formControlName="email" 
                  type="text" inputmode="email" required autofocus="true"
                  (ionChange)="set_email()" debounce="100"
                  (keydown.enter)="submit_email()">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="validation-errors">
        <ng-container *ngFor="let validation of G.S.validation_messages.email">
          <div class="error-message" 
              *ngIf="emailFormGroup.get('email').hasError(validation.type) 
                      && (emailFormGroup.get('email').dirty || emailFormGroup.get('email').touched)"
              [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
        </div>  
        <ion-item lines="none">
          <p><br/><br/></p>
        </ion-item>
        <ion-item lines="none">
          <ion-button type="submit" size="larger" color="primary" slot="end" [disabled]="!emailFormGroup.valid" 
              shape="round"
              (click)="submit_email()">
            <span [innerHtml]="'next'|translate"></span>
            &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </form>    
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='fresh_password'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-fresh-password'|translate"></h1>
      </ion-item>
      <ion-item class="item-text-wrap">
        <p class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-fresh-password-2'|translate"></p>
      </ion-item>
      <form [formGroup]="passwordFormGroup">
        <div formGroupName="pw">
          <ion-row class="ion-no-padding ion-nowrap">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
                <ion-input #input_new_password
                  formControlName="password"
                  clearOnEdit="false" clearInput="true"
                  [type]="showing_password?'text':'password'" required autofocus="true"
                  autocomplete="off" autocorrect="off"
                  (ionChange)="set_password()" debounce="100"
                  (ionBlur)="blur_password()">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon><!--&nbsp;
              <span [innerHtml]="(showing_password?'hide':'show')|translate"></span>-->
            </ion-button>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of G.S.validation_messages.password">
              <div class="error-message" 
                  *ngIf="passwordFormGroup.get('pw.password').hasError(validation.type) 
                          && (passwordFormGroup.get('pw.password').dirty || passwordFormGroup.get('pw.password').touched)"
                  [innerHtml]="validation.message|translate">
              </div>
            </ng-container>
          </div>
          <ng-container>
            <ion-item>
              <ion-label position="floating" color="primary" [innerHtml]="'retype-password'|translate"></ion-label>
              <ion-input 
                formControlName="confirm_password" 
                #input_retype_password 
                clearOnEdit="false" clearInput="true"
                [type]="showing_password?'text':'password'" required
                autocomplete="off" autocorrect="off"
                (ionChange)="set_password()" debounce="100"
                (keydown.enter)="submit_new_password()">
              </ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of G.S.validation_messages.passwords_match">
                <div class="error-message" 
                    *ngIf="passwordFormGroup.get('pw').hasError('must_match') 
                            && (passwordFormGroup.get('pw.confirm_password').dirty || passwordFormGroup.get('pw.confirm_password').touched)"
                    [innerHtml]="validation.message|translate">
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </form>    
      <ion-item lines="none">
        <p><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <ion-button size="larger" color="primary" slot="end" [disabled]="!passwordFormGroup.get('pw').valid" 
            shape="round"
            (click)="submit_new_password()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='old_password'">
      <ion-item class="item-text-wrap" lines="none">
        <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ask-old-password'|translate"></h1>
      </ion-item>
      <form [formGroup]="oldPasswordFormGroup">
        <div formGroupName="pw">
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
              <ion-item>
                <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
                <ion-input #input_old_password
                  formControlName="password"
                  clearOnEdit="false" clearInput="true"
                  [type]="showing_password?'text':'password'" required autofocus="true"
                  autocomplete="off" autocorrect="off"
                  (ionChange)="set_old_password()" debounce="100"
                  (keydown.enter)="submit_old_password()">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon>&nbsp;
              <span [innerHtml]="(showing_password?'hide':'show')|translate"></span>
            </ion-button>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of G.S.validation_messages.password">
              <div class="error-message" 
                  *ngIf="oldPasswordFormGroup.get('pw.password').hasError(validation.type) 
                          && (oldPasswordFormGroup.get('pw.password').dirty || oldPasswordFormGroup.get('pw.password').touched)"
                  [innerHtml]="validation.message|translate">
              </div>
            </ng-container>
          </div>
        </div>
      </form>    
      <ion-item lines="none">
        <p><br/><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <ion-button size="larger" color="primary" slot="end" [disabled]="!oldPasswordFormGroup.valid" 
            shape="round"
            (click)="submit_old_password()">
          <span [innerHtml]="'next'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="step=='connected'">
      <ion-item class="item-text-wrap" lines="none">
        <ion-col>
          <h1 class="ion-text-center" style="width:100%;" [innerHtml]="'login.ready-to-start'|translate"></h1>
          <p class="ion-text-center" style="width:100%;" [innerHtml]="'login.ready-to-start-detail'|translate"></p>
        </ion-col>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/></p>
      </ion-item>
      <ion-item lines="none">
        <!-- TODO: make this button (and similar buttons on other pages) respond to hitting "enter" -->
        <ion-button size="larger" color="primary" slot="end"
            shape="round" type="submit"
            (click)="connected_dismissed()">
          <span [innerHtml]="'start'|translate"></span>
          &nbsp;<ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
      </ion-item>
      <ion-item *ngIf="terms_expanded">
<h1>Datenschutzerklärung</h1>
vodle nimmt den Schutz Ihrer persönlichen Daten besonders ernst. Wir haben deshalb umfassende Vorkehrungen getroffen, damit Ihre Daten nicht in unbefugte Hände gelangen und wir werden sie niemals in einer Form an Dritte weitergeben, in der Sie als Einzelperson identifizierbar sind.
Alle personenbezogenen Informationen werden vertraulich und gemäß den gesetzlichen Vorschriften behandelt, wie in dieser Datenschutzerklärung erläutert.
Wenn Sie uns persönliche Daten wie Name, Adresse oder E-Mail mitteilen, geschieht dies auf freiwilliger Basis.
Wichtig: Die Datenübertragung im Internet, wie zum Beispiel über E-Mail, kann immer Sicherheitslücken aufweisen. Der komplette Schutz der Daten ist im Internet nicht möglich.
Datenschutzerklärung SCIARA/MyClimateFuture
SCIARA speichert zwei Typen von Daten von Ihnen:
Personenbezogene Daten im Zusammenhang mit Ihrem Nutzerkonto und ihrem Profil.
Diese Daten sind:
E-Mail-Adresse als Benutzername
Passwort
Vorname und Nachname
Bevorzugte Sprache*
Zustimmung zu dieser Datenschutzerklärung (ohne die Sie nicht teilnehmen können)
Land Ihres Wohnsitzes* – damit wir die in ihrem Land gültigen Gesetze, Verordnungen, Emissionsfaktoren und sozio-demografischen Durchschnittswerte für die Simulation Ihrer Klimazukunft verwenden können
Postleitzahl* – damit wir Ihnen künftige Wetter- und Klimadaten für Ihre Region anzeigen und sie mit anderen Teilnehmern in ihrer Nähe zusammenbringen können
Gebäudetyp* – damit wir Ihnen eine für Sie realistische Wohnsituation anzeigen können
Die Art Ihres Wohnumfeldes (Nachbarschaft)* – damit wir Ihnen ein für Sie realistisches Wohnumfeld anzeigen können
Anzahl von Personen in Ihrem Haushalt* – damit wir Emissionen, die für Ihren Haushalt entstehen, pro Kopf umrechnen können.
Geburtsjahr* – damit wir Ihnen altersabhängige Lebensstationen und -ereignisse anzeigen können
Geschlecht* – damit wir Sie korrekt ansprechen können
Standard-Name in Simulationsläufen – den Sie frei wählen können*
Momentane IP Adresse
Daten, die im Zusammenhang mit Ihren Simulationsteilnahmen entstehen.
Diese Daten sind:
Aus Ihrem Konto und Profil kopierte Daten (oben mit * markiert)
Daten zu den emissionsrelevanten Lebensstil-Bereichen Ernährung, Mobilität, Flugreisen, Stromverbrauch, Gebäudeheizung, Konsum und Recycling, um die Ihnen zuzurechnenden Treibhausgas-Emission berechnen zu können
Daten zu Ihrem Einkommen und zu regelmäßigen Ausgaben, um Ihnen Feedback zu den finanziellen Auswirkungen des Klimawandels, Klimaschutzmaßnahmen und Ihren Entscheidungen geben zu können
Metadaten und Inhalte Ihrer Chat-Kommunikation mit anderen Teilnehmern
Ihre Treibhausgas-Emissionswerte und deren Zusammensetzung, um sie Ihnen anzeigen und sie auf die Gesamtbevölkerung der Simulation hochrechnen zu können.
Zeitpunkte und Inhalte der Veränderungen, die Sie an ihren Lebensstildaten im Laufe der Simulation vornehmen, um Ihnen diese anzeigen und später anonym auswerten zu können.
Der Verlauf berechneter Kennzahlen für verschiedene Lebensbereiche wie Umweltauswirkungen, Geld, Freizeit*, Gesundheit* und Lebenserwartung* sowie ein zusammenfassender Zufriedenheits-Score*, in den die Teil-Scores in von Ihnen selbst festgelegten Gewichten eingehen.
(* in Planung)
Die beiden Datenbereiche sind nur durch eine kryptographisch geschützte Kennzahl miteinander verbunden.
Sobald Sie Ihr Nutzerkonto löschen, 
entfernen wir alle Daten vom Typ 1, 
wobei Ihre Postleitzahl in die Gruppe der Daten vom Typ 2 überführt und gekürzt wird, was jeden auch nur indirekten Rückschluss auf Ihre Person unmöglich macht. 
Jeglicher Rückschluss auf Ihre Person wird weiterhin auch durch unwiederbringliches Löschen der Verbindung zwischen Daten vom Typ 1 und Typ 2 unmöglich.
Die Daten vom Typ 2 sind keine personenbezogene Daten im Sinne der DSGVO und bleiben im Besitz von SCIARA.
Während Ihrer Spielteilnahme können Sie mit anderen Teilnehmern über eine Chat-Funktion kommunizieren. Achten Sie darauf, dass Sie dabei zu Ihrer eigenen Sicherheit keine Sie oder andere eindeutig identifizierbaren Angaben machen wie Klarname, Telefonnummer, Adresse oder präzise Lebensumstände. Ihre Chat-Inhalte werden Teil der pseudonymisierten Spieldaten und bleiben erhalten !
Andere Teilnehmer im Chat zu identifizieren sowie sich selbst identifizierbar oder erkennbar zu machen, verstößt gegen unsere Nutzungsbedingungen und wird mit Löschung der Nachricht und ggf. Sperrung geahndet!
SCIARA stellt Daten vom Typ 2 ggf. in pseudonymisierter, nicht auf Sie als Einzelperson zurückführbarer Form der Öffentlichkeit, wissenschaftlichen Institutionen und Einrichtungen aus Politik, Wirtschaft und Gesellschaft bereit, die sie analysieren, um daraus Rückschlüsse auf wahrscheinliche Verhaltensmuster der Gesellschaft im Allgemeinen und Besonderen zu ziehen.
Auskunft, Löschung, Sperrung
Zu jedem Zeitpunkt können Sie sich über die personenbezogenen Daten, deren Herkunft und Empfänger und den Nutzen der Datenverarbeitung informieren und unentgeltlich eine Korrektur, Sperrung oder Löschung dieser Daten verlangen. Bitte nutzen Sie dafür die im Impressum angegebenen Kontaktwege. Für weitere Fragen zum Thema stehen wir Ihnen ebenfalls jederzeit zur Verfügung.
Server-Log-Files
Der Seiten-Provider erhebt und speichert automatisch Daten in Server-Log Files, die von Ihrem Browser an uns übermittelt werden. Diese Daten enthalten:
– Browsertyp/ Browserversion
– Betriebssystem des Rechners
– Referrer URL
– Hostname des zugreifenden Rechners
– Uhrzeit der Serveranfrage
Diese Daten sind nicht personenbezogen. Es erfolgt keine Zusammenführung dieser Daten mit anderen Datenquellen. Wenn uns konkrete Anhaltspunkte für eine rechtswidrige Nutzung bekannt werden behalten wir uns das Recht vor, diese Daten nachträglich zu überprüfen.
Cookies
Viele Internetseiten verwenden Cookies. Cookies sind unschädlich für Ihren Rechner und virenfrei. Sie dienen dazu, Internet-Angebote für die Besucher einer Webseite freundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem Computer abgelegt werden und die Ihr Browser verwendet.
Wir verwenden in der Regel so genannte „Session-Cookies“. Diese werden nach Verlassen unserer Seite automatisch gelöscht. Andere Cookies bleiben auf Ihrem Computer gespeichert, bis Sie diese löschen. Diese Cookies helfen dabei, Ihren Rechner beim nächsten Besuch wiederzuerkennen.
Über die Browsereinstellungen können sie festlegen, dass Sie über neue Cookies informiert werden und Cookies jeweils annehmen müssen. Ebenso können Sie die Annahme von Cookies für bestimmte Fälle oder generell ausschließen oder das automatische Löschen der Cookies beim Schließen des Browser aktivieren. Werden Cookies deaktiviert, kann die Funktionalität unserer Website eingeschränkt sein.
Änderung der Datenschutzerklärung
Unsere Datenschutzerklärung kann zu jeder Zeit bei Bedarf angepasst werden, damit sie den aktuellen rechtlichen Anforderungen entspricht oder damit Änderungen unserer Dienstleistungen abgebildet werden. Bei jedem Besuch gilt dann automatisch die aktuelle Datenschutzerklärung.
Kontakt zum Datenschutzbeauftragten
Für Fragen zum Datenschutz schicken Sie uns bitte eine Nachricht an info@sciara.de mit dem Betreff „Datenschutz“.

Nutzungsbedingungen
1. Geltungsbereich der Nutzungsbedingungen
Diese Nutzungsbedingungen gelten für das Online-Angebot MyClimateFuture der SCIARA Gmbh (im Weiteren Betreiber genannt), das im Internet unter myclimatefuture.de und app.sciara.de abrufbar ist. 
Hierbei handelt es sich um eine Plattform, auf der der/die Nutzende  (im Weiteren Nutzer genannt) an Online-Spielen teilnehmen können.
2. Vertragsschluss und Benutzerkonto
Durch Abschluss des Online-Registrierungsvorgangs und Erstellung eines Profils kommt ein Nutzungsvertrag mit dem Betreiber zustande. Gegenstand des Nutzungsvertrages ist die Teilnahme an einem Online-Spiel. Zu diesem Zweck muss ein Profil angelegt werden.
Für die Erstellung eines Profils ist die Erstellung eines Benutzerkontos erforderlich. Dieses besteht aus einem Benutzernamen und einem Kennwort („Log-in-Daten“).
Die Erstellung eines Nutzerkonto ist nur unter Angabe einer aktuellen E-Mail-Adresse des Nutzers möglich. Diese E-Mail-Adresse dient zugleich der Kommunikation mit dem Betreiber.
Vertragssprache ist ausschließlich deutsch.
Bei jedweder Kommunikation des Nutzers mit anderen Nutzern entstehen etwaige Vertragsbeziehungen ausschließlich zwischen den beteiligten Nutzern. Der Betreiber ist weder Stellvertreter noch wird er selbst Vertragspartner.
3. Nutzung des Profils
Bei der Nutzung des Profils kann der Nutzer verschiedene Dienste in Anspruch nehmen:
Der Nutzer hat die Möglichkeit, Nachrichten an andere Nutzer zu versenden.
Der Nutzer kann Daten zu seinem eigenen oder einem fiktiven Lebensstil und zu seinen Lebensumständen hinterlegen, um von Modellen die Konsequenzen für verschiedene Aspekte seines Lebens berechnen zu lassen.
Der Betreiber ist jederzeit berechtigt, den Zugang zu einzelnen Inhalten zu sperren, z.B. wenn der Verdacht besteht, dass diese gegen geltenden Recht oder Rechte Dritter verstoßen. Es besteht kein Anspruch des Nutzers auf Aufrechterhaltung einzelner Funktionalitäten des Portals.
Der Betreiber ist um einen störungsfreien Betrieb des Portals bemüht. 
Dies beschränkt sich naturgemäß auf Leistungen, auf die der Betreiber einen Einfluss hat. 
Dem Betreiber ist es unbenommen, den Zugang zu dem Portal aufgrund von Wartungsarbeiten, Kapazitätsbelangen und aufgrund anderer Ereignisse, die nicht in seinem Machtbereich stehen, ganz oder teilweise, zeitweise oder auf Dauer, einzuschränken oder zu unterbrechen.
4. Mitwirkungspflicht des Nutzers: Einstellen von Inhalten
Der Nutzer verpflichtet sich, bei der Erstellung und Verwendung eigener Inhalte geltendes Recht (z.B. Straf-, Wettbewerbs- und Jugendschutzrecht) zu beachten und keine Rechte Dritter (z.B. Namens-, Marken-, Urheber- und Datenschutzrechte) zu verletzen.
Der Nutzer verpflichtet sich gegenüber dem Betreiber, dass jedwede Inhalte, die in das Portal eingestellt werden, weder durch ihren Inhalt oder die Form gegen geltendes Recht oder die guten Sitten verstoßen. Das Gleiche gilt für das Setzen von externen Links. Nicht erlaubt ist insbesondere das Verbreiten von Inhalten, die
Rassismus,
Gewaltverherrlichung und Extremismus irgendwelcher Art,
Aufrufe und Anstiftung zu Straftaten und Gesetzesverstößen, Drohungen gegen Leib, Leben oder Eigentum,
Hetzen gegen Personen oder Unternehmen,
persönlichkeitsverletzende Äußerungen, Verleumdung, Ehrverletzung und üble Nachrede von Nutzern und Dritten sowie Verstöße gegen das Lauterkeitsrecht,
urheberrechtsverletzende Inhalte oder andere Verletzungen von Immaterialgüterrechten,
sexuelle Belästigung von Nutzern und Dritten,
Pornografie,
anstößige, sexistische, obszöne, vulgäre, abscheuliche oder ekelerregende Materialien und Ausdrucksweisen
darstellen, betreffen oder beinhalten.
Urheberrechtlich geschützte Inhalte dürfen ohne Zustimmung des jeweiligen Rechteinhabers nur im Rahmen des anwendbaren Zitatrechts wörtlich in Beiträge aufgenommen werden. Zitate sind durch Hervorheben mittels Zitatfunktion und Quellenangabe zu kennzeichnen. Fremdsprachige Zitate sind zusätzlich soweit auf Deutsch zu übersetzen, dass der Inhalt grob ersichtlich ist. Insbesondere nicht korrekt zitierte Beiträge können von den Moderatoren entfernt oder berichtigt werden. Die Verbreitung und/oder öffentliche Wiedergabe von jedweden Inhalten des Portals ohne Einwilligung des Betreibers ist untersagt.
5. Weitere Mitwirkungspflichten des Nutzers
Der Nutzer darf ohne ausdrückliche Gestattung des Betreibers, auf dem Portal keine Werbung für sich oder Dritte machen. Das bedeutet insbesondere, dass der Nutzer keine Nachrichten werbenden Inhalts ohne eine Einwilligung des Betreibers und des Empfängers versenden darf (insbesondere: Spam-Nachrichten).
Für den Fall, dass der Nutzer die Möglichkeit nutzt, Dritte über die Existenz des Portals über die von dem Betreiber bereitgestellte Empfehlungsfunktion zu informieren, hat er sicherzustellen, dass der Dritte mit der Übersendung der werbenden Empfehlungs-E-Mail einverstanden ist.
Für den Fall, dass die Inhalte Hyperlinks auf Seiten Dritter enthalten, sichert der Nutzer zu, dass er die Berechtigung zur Nutzung des Hyperlinks hat und die Website, auf die verweisen wird („Landingpage“), mit geltendem Recht und Rechten Dritter vereinbar ist.
Der Nutzer ist verpflichtet, mit den Login-Daten sorgfältig umzugehen. Dem Nutzer ist es ausnahmslos untersagt, die Login-Daten Dritten mitzuteilen und/oder Dritten den Zugang zu dem Profil unter Umgehung der Login-Daten zu ermöglichen.
Der Nutzer muss jedwede Tätigkeit unterlassen, die geeignet ist, den Betrieb des Portals oder der dahinter stehenden technischen Infrastruktur zu beeinträchtigen und/oder übermäßig zu belasten. Dazu zählen insbesondere:
die Verwendung von Software, Skripten oder Datenbanken in Verbindung mit der Nutzung des Portals;
das automatische Auslesen, Blockieren, Überschreiben, Modifizieren, Kopieren von Daten und/oder sonstigen Inhalten, soweit dies nicht für die ordnungsgemäße Nutzung des Portals erforderlich ist;
Nicht zulässig ist es zudem, die eigene oder die Anonymität anderer Nutzer aufzuheben oder Informationen von anderen Nutzern aus privaten Nachrichten, E-Mails oder Chats bekanntzugeben, die nicht für die Öffentlichkeit bestimmt sind. Nutzer dürfen keine Informationen in ihre Beiträge aufnehmen oder sonst wie bekannt machen, die Aufschluss über die eigene Identität oder die eines anderen Nutzers geben könnten oder die der Nutzer von anderen Nutzern ausschließlich in privaten Nachrichten, E-Mails oder Chats erhalten hat.
Sollte es bei der Nutzung des Portals oder seiner Funktionalitäten zu Störungen kommen, wird der Nutzer den Betreiber von dieser Störung unverzüglich in Kenntnis setzen. Gleiches gilt, wenn der Nutzer Informationen über von Dritten veröffentlichte Inhalte erlangt, die offensichtlich gegen die geltendes Recht oder Rechte Dritter verstoßen.
6. Nutzungsrechte
Der Nutzer räumt dem Betreiber ein räumlich und zeitlich unbeschränktes, unwiderrufliches, auf Dritte übertragbares, nicht exklusives, unentgeltliches Recht ein, die eingestellten Inhalte in dem Online-Angebot zu verwerten. Der Betreiber ist jederzeit berechtigt, die Inhalte zu verwenden, zu bearbeiten und zu verwerten. Das schließt insbesondere das Vervielfältigungsrecht, das Verbreitungsrecht und das Recht der öffentlichen Wiedergabe, insbesondere das Recht der öffentlichen Zugänglichmachung mit ein. 
Der Nutzer verzichtet auf das Recht zur Urhebernennung. Von dieser Regelung unberührt bleibt die Möglichkeit des Nutzers, Dritten Rechte an eingestellten Inhalten nach bestimmten Lizenzmodellen einzuräumen.
Sämtliche Rechte an den Inhalten des Portals liegen bei dem Betreiber. Dem Nutzer ist die Vervielfältigung, Verbreitung und/oder Veröffentlichung von Inhalten untersagt, die der Betreiber, andere Nutzer oder Dritte in das Portal eingestellt haben.
7. Haftung
Unbeschränkte Haftung: 
Der Betreiber haftet unbeschränkt für Vorsatz und grobe Fahrlässigkeit sowie nach Maßgabe des Produkthaftungsgesetzes. Für leichte Fahrlässigkeit haftet der Betreiber bei Schäden aus der Verletzung des Lebens, des Körpers und der Gesundheit von Personen.
Beschränkte Haftung: 
Bei leichter Fahrlässigkeit haftet der Betreiber nur im Falle der Verletzung einer wesentlichen Vertragspflicht, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags überhaupt erst ermöglicht und auf deren Einhaltung der Nutzer regelmäßig vertrauen darf (Kardinalpflicht). 
Die Haftung für leichte Fahrlässigkeit ist der Höhe nach beschränkt auf die bei Vertragsschluss vorhersehbaren Schäden, mit deren Entstehung typischerweise gerechnet werden muss. 
Diese Haftungsbeschränkung gilt auch zugunsten der Erfüllungsgehilfen des Betreibers.
8. Freistellungsanspruch
Der Nutzer stellt den Betreiber und seine Mitarbeiter bzw. Beauftragten für den Fall der Inanspruchnahme wegen vermeintlicher oder tatsächlicher Rechtsverletzung und/oder Verletzung von Rechten Dritter durch von dem Nutzer im Zusammenhang mit der Nutzung des Portals vorgenommenen Handlungen von sämtlichen sich daraus ergebenden Ansprüchen Dritter frei. Darüber hinaus verpflichtet sich der Nutzer, alle Kosten zu ersetzen, die dem Betreiber durch die Inanspruchnahme durch Dritte entstehen. Zu den erstattungsfähigen Kosten zählen auch die Kosten einer angemessenen Rechtsverteidigung.
10. Vertragsdauer/Kündigung
Der Vertrag läuft auf unbestimmte Zeit und kann von beiden Seiten jederzeit ohne Einhaltung einer Kündigungsfrist und Angabe von Gründen gekündigt werden.
Daneben und darüber hinaus bleibt das Recht der Parteien, das Vertragsverhältnis durch außerordentliche Kündigung aus wichtigem Grund zu beenden, unbenommen.
Für den Betreiber liegt ein wichtiger Grund zur Kündigung dieses Vertrages vor, wenn der Kunde seine Verpflichtungen nach Ziff. 4 oder 5 dieses Vertrages nachhaltig verletzt.
Dem Betreiber steht es jederzeit frei - ohne Angabe von Gründen - nach Vorankündigung ohne Einhaltung einer Kündigungsfrist, den angebotenen Online Dienst zu beenden.
11. Schlussbestimmungen
Sollte der Vertrag unwirksame Regelungen enthalten, bleibt die Wirksamkeit des Vertrages im Übrigen unberührt.
Auf den vorliegenden Vertrag ist ausschließlich deutsches Recht anwendbar.
 

In Planung (noch nicht in die DSE aufnehmen):
Datenschutzerklärung Google Analytics
(Einbindung in Planung)
Unsere Website nutzt den Analysedienst Google Analytics, betrieben von Google Inc. 1600 Amphitheatre Parkway Mountain View, CA 94043, USA. Google Analytics nutzt “Cookies”, das sind kleine Textdateien, die in Ihrem Browser gespeichert werden und die es ermöglichen, die Nutzung unserer Website durch die Besucher zu analysieren. Von den Cookies werden Daten über Ihre Nutzung unserer Webseite gesammelt, die normalerweise an einen Google-Server in den USA übertragen und gespeichert werden.
Wenn die IP-Anonymisierung auf unserer Webseite aktiviert wurde, wird Ihre IP-Adresse von Google innerhalb der Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum vorab gekürzt. In seltenen Ausnahmefällen kann die komplette IP-Adresse an einen Google Server in den USA übertragen werden, dann wird diese dort gekürzt. Google nutzt diese Daten in unserem Auftrag, um die Nutzung unserer Website auszuwerten, um Berichte über die Webseitenaktivitäten zu erstellen sowie um weitere Dienstleistungen anzubieten, die mit der Webseitennutzung und Internetnutzung zusammenhängen. Die von Google Analytics erfassten IP-Adressen werden nicht mit anderen Daten von Google korreliert.
Die Speicherung von Cookies kann durch eine spezielle Einstellung in Ihrem Browser verweigert werden. In diesem Fall ist jedoch die Funktionalität unserer Webseite im vollen Umfang nicht gewährleistet. Zusätzlich steht ihnen ein Browser-Plugin zur Verfügung, mit dem Sie die Sammlung der auf Ihre Nutzung der Website bezogenen erzeugten Daten und IP-Adressen durch Google verhindern können. Mehr Informationen dazu finden Sie hier: http://tools.google.com/dlpage/gaoptout?hl=de
Datenschutzerklärung Instagram
(Einbindung in Planung)
Auf unseren Webseiten werden Funktionen von Instagram verwendet, angeboten von Instagram Inc., 1601 Willow Road, Menlo Park, CA 94025, USA. Inhalte unserer Seiten können mit Ihrem Instagram-Profil verknüpft werden, sofern Sie zeitgleich in Ihrem Instagram-Account eingeloggt sind. Durch Klick auf den Instagram-Button können diese verlinkt werden. Instagram kann dabei die Nutzung unserer Seiten durch Sie registrieren. Als Webseitenbetreiber haben wir keine Informationen darüber, welche Daten übermittelt werden und wie diese genutzt werden.
Mehr Informationen dazu finden Sie hier: http://instagram.com/about/legal/privacy/
Datenschutzerklärung LinkedIn
(Einbindung in Planung)
Auf unseren Webseiten werden Funktionen von LinkedIn verwendet, angeboten von der LinkedIn Corporation, 2029 Stierlin Court, Mountain View, CA 94043, USA. Bei jedem Besuch einer unserer Webseiten, die LinkedIn Funktionen beinhaltet, wird eine Verbindung zu LinkedIn-Servern etabliert. LinkedIn erhält Daten darüber, dass Sie mit Ihrer IP-Adresse unsere Webseiten besucht haben. Beim Klick auf den  LinkedIn “Recommend-Button” ist es LinkedIn möglich, den Besuch auf unserer Internetseite Ihrem Benutzerkonto zuzuordnen, vorausgesetzt, dass Sie zeitgleich in Ihrem LinkedIn Account eingeloggt sind. Als Webseitenbetreiber haben wir keine Informationen darüber, welche Daten übermittelt und wie diese genutzt werden.
Mehr Informationen dazu finden Sie hier: https://www.linkedin.com/legal/privacy-policy
Datenschutzerklärung Twitter
(Einbindung in Planung)
Auf unseren Webseiten werden Funktionen des Dienstes Twitter verwendet, angeboten von Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA 94103, USA. Wenn Sie Twitter oder die Funktion “Re-Tweet” nutzen, werden die von Ihnen besuchten Internetseiten mit Ihrem Twitter-Account verbunden. Andere Nutzende können diese Informationen erhalten und es werden Daten an Twitter gesendet. Als Webseitenbetreiber haben wir keine Informationen darüber, welche Daten übermittelt und wie diese genutzt werden.
Mehr Informationen dazu finden Sie hier:  http://twitter.com/privacy.
In den Konto-Einstellungen Ihres Twitter Kontos (unter http://twitter.com/account/settings) können Sie Ihre Datenschutzeinstellungen bei Twitter ändern.

      </ion-item>
    </ng-container>

  </ion-grid>
</ion-content>
