<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-header>

  <ion-item class="ion-no-margin ion-no-padding" style="--inner-padding-end:0px!important">
    <ion-toolbar style="padding-left: 16px;">

      <!--<ion-icon slot="start" name="analytics-outline"></ion-icon>&nbsp;-->
      <ion-text 
        style="font-weight: bold; font-size: larger;"
        [innerHtml]="'analysis.-page-title' | translate">
      </ion-text>
      <ion-buttons slot="end">

        <!-- OFFLINE SIGN -- >
        <ng-container *ngIf="!window.navigator.onLine">
          <ion-icon name="cloud-offline-outline" color="grey"
            style="position: relative; bottom: -1px;">
          </ion-icon>
          <ion-icon name="alert-outline" color="grey">
          </ion-icon>
        </ng-container> 
        <!---->

        <!-- SYNCING SIGN: -- >
        <ion-spinner *ngIf="!!P.p && P.p.syncing && window.navigator.onLine" name="crescent" color="grey"></ion-spinner>
        <!---->

        <!-- CLOSE BUTTON: -->
        <ion-button fill="clear" (click)="close()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
    
      </ion-buttons>
    </ion-toolbar>
  </ion-item>

</ion-header>

<!-- SCROLLABLE CONTENT: -->

<ion-content *ngIf="P.ready">

  <div id="venn"></div>

  <ion-item class="ion-no-margin" lines="none">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <p>
            Each dot represents one participant. <!--TODO: or one percent-->
          </p>
          <p>
            The large discs show how much approval each option gets.
            The part of the disc that sticks out from behind the other discs shows the share that this option gets. 
            We only show those options that get a share.
          </p>
          <small><p>
            The colors show which options you yourself approve and where your share goes:
            <span style="color:#d33939"><b>Red:</b></span> you won't approve this option since your wap is zero.
            <span style="color:#3465a4"><b>Blue:</b></span> you currently don't approve this option.
            <span style="color:#62a73b"><b>Green:</b></span> you approve this option.
            Your share goes to the <span style="color:#4c822e"><b>dark green</b></span> option. 
          </p></small>
          <p>
            <b>Suggestion:</b> You might want to talk to the supporters of the options you don't approve (red and blue). 
            Maybe you can together find some other option that you can all approve?
            <small>A good compromise option might already be on the menu or you might want to add it.</small>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
