<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-header>

  <ion-item class="ion-no-margin ion-no-padding" style="--inner-padding-end:var(--vodle-padding-end)!important">
    <ion-toolbar style="padding-left: var(--vodle-padding-left);">
      <!--<ion-icon slot="start" name="analytics-outline"></ion-icon>&nbsp;-->
      <ion-text 
      style="font-weight: var(--vodle-font-weight); font-size: var(--vodle-font-size);"
      [innerHtml]="'analysis.-page-title' | translate">
    </ion-text>
    <ion-buttons slot="end">

        <!-- OFFLINE SIGN -- >
        <ng-container *ngIf="!window.navigator.onLine">
          <ion-icon name="cloud-offline-outline" color="grey"
            style="position: var(--vodle-position); bottom: var(--vodle-bottom);">
          </ion-icon>
          <ion-icon name="alert-outline" color="grey"></ion-icon>
        </ng-container> 
        <!---->

        <!-- SYNCING SIGN: -- >
        <ion-spinner *ngIf="!!P.p && P.p.syncing && window.navigator.onLine" name="crescent" color="grey"></ion-spinner>
        <!---->

        <!-- CLOSE BUTTON: -->
        <ion-button fill="clear" (click)="close()">
          <ion-icon slot="icon-only" name="close-outline"></ion-icon>
        </ion-button>
    
      </ion-buttons>
    </ion-toolbar>
  </ion-item>

</ion-header>

<!-- SCROLLABLE CONTENT: -->

<ion-content *ngIf="P.ready">

  <div id="venn"></div>

  <ion-item class="ion-no-margin" lines="none">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding ion-no-margin">
          <p>
            <span [innerHtml]="(P.p.T.n_not_abstaining > 100 
                                ? 'analysis.each-dot-percent' 
                                : 'analysis.each-dot-participant')|translate">
            </span>
<!--
            <span [innerHtml]="'analysis.'|translate"></span>
-->
            <span *ngIf="!P.p.am_abstaining" [innerHtml]="' '+('analysis.yellow-dot'|translate)"></span>
          </p>
          <p [innerHtml]="'analysis.discs'|translate">
          </p>
          <small *ngIf="!P.p.am_abstaining">
            <p>
                <span [innerHtml]="'analysis.colors-before-red'|translate"></span>
                <span [style.color]="var(--vodle-color-red)">
                  <b [innerHtml]="'analysis.colors-red'|translate"></b>
                </span>
                <span [innerHtml]="'analysis.colors-between-red-and-blue'|translate"></span>
                <span [style.color]="var(--vodle-color-blue)">
                  <b [innerHtml]="'analysis.colors-blue'|translate"></b>
                </span>
                <span [innerHtml]="'analysis.colors-between-blue-and-green'|translate"></span>
                <span [style.color]="var(--vodle-color-green)">
                  <b [innerHtml]="'analysis.colors-green'|translate"></b>
                </span>
                <span [innerHtml]="'analysis.colors-after-green'|translate"></span>
                <span [innerHtml]="'analysis.colors-before-dark-green'|translate"></span>
                <span [style.color]="var(--vodle-color-dark-green)">
                  <b [innerHtml]="'analysis.colors-dark-green'|translate"></b>
                </span>
                <span [innerHtml]="'analysis.colors-after-dark-green'|translate"></span>
          </p></small>
          <p [innerHtml]="'analysis.suggestion-general'|translate">
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
