// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

$font-family-md-base: "Quicksand Medium";
$font-family-ios-base: "Quicksand Medium";
$font-family-wp-base: "Quicksand Medium";

/** vodle slider colors: **/
// TODO: add rgb,contrast etc.

.ion-color-vodlered {
  --ion-color-base: #d33939;
  --ion-color-contrast: #ffffff;
}
.ion-color-vodleblue {
  --ion-color-base: #3465a4;
  --ion-color-contrast: #ffffff;
}
.ion-color-vodlegreen {
  --ion-color-base: #62a73b;
  --ion-color-contrast: #ffffff;
}
.ion-color-vodledarkgreen {
  --ion-color-base: #4c822e;
  --ion-color-contrast: #ffffff;
}
.ion-color-vodlelight {
  --ion-color-base: #bce4e5;
  --ion-color-contrast: #000000;
}
.ion-color-vodledark {
  --ion-color-base: #9abcbd;
  --ion-color-contrast: #000000;
}

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Quicksand";

  /** primary **/
  --ion-color-primary: #3465a4; /* $vodle-blue; */
  --ion-color-primary-rgb: 52, 101, 164;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #284f80;
  --ion-color-primary-tint: #407cc9;

  /** secondary **/
  --ion-color-secondary: #aed3d4;
  --ion-color-secondary-rgb: 174, 211, 212;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #a1c3c4;
  --ion-color-secondary-tint: #bce4e5; /* $vodle-light; */

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #62a73b; /* $vodle-green; */
  --ion-color-success-rgb: 98, 167, 59;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #4c822e;
  --ion-color-success-tint: #78cc48;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
