ion-slides {
  height: 100%;
}
ion-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

ion-slide p {
  color: #888;
}
.swiper-slide {
  overflow-y: scroll;
  display: block;
}
