<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK) authors, and contributors, see CODEOWNERS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-content>
  <ion-item (click)="send4review()">
    <ion-button fill="clear" color="dark">
      <ion-icon name="share-social"></ion-icon>&nbsp;&nbsp;<span [innerHtml]="'draftpoll.send-for-review'|translate"></span>
    </ion-button>
  </ion-item>
  <ion-item (click)="import()">
    <ion-button fill="clear" color="dark">
      <ion-icon name="folder-open-outline"></ion-icon>&nbsp;&nbsp;<span [innerHtml]="'draftpoll.import-options-from-file'|translate"></span>
    </ion-button>
  </ion-item>
  <ion-item (click)="use_example_clicked()">
    <ion-button fill="clear" color="dark">
      <ion-icon name="cloud-download-outline"></ion-icon>&nbsp;&nbsp;
      <span [innerHtml]="'draftpoll.use-example-from-db'|translate"></span>
    </ion-button>
    <!--the actual select item is hidden so that the appearance is that of a button:-->
    <ion-select #ionSelects #select_example interface="popover" 
        (ionChange)="use_example()" display="none"
        [cancelText]="'cancel'|translate" [okText]="'OK'|translate" 
        style="font-size: smaller">
      <ion-select-option value="-" [innerHtml]="'draftpoll.use-example-from-db-none'|translate"></ion-select-option>
      <ion-select-option *ngFor="let doc of examples" [value]="doc" [innerHtml]="JSON.parse(doc)['title']"></ion-select-option>
    </ion-select>
  </ion-item>
</ion-content> 
