<!--
  <ion-icon name="people-outline"></ion-icon>
  <ion-icon name="arrow-redo-outline"></ion-icon>
  <ion-icon name="navigate-outline"></ion-icon>
  <ion-icon name="open-outline"></ion-icon>
  control self:
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ng-template [ngIf]="p!=null">
      <ion-title>
        Running poll – your ratings
      </ion-title><!--TODO: decide whether to name poll in title or just have the poll question as the topmost list element-->
    </ng-template>
    <ion-buttons slot="end">
      <ion-button (click)="delegate()" shape="round" fill="solid" color="primary" size="large">
        Delegate&nbsp;<ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <!--TODO: if delegation is on, show a menu instead with: revoke delegation, change delegate-->
<!-- If we want a help button: 
      <ion-button routerLink="/help" fill="clear">
        <ion-icon name="help" slot="icon-only"></ion-icon>
      </ion-button>-->
    </ion-buttons>

<!--
    <ng-template [ngIf]="!refresh_paused">
      <ion-button slot="end" (click)="pauseRefresh()" fill="clear" no-margin>
        <ion-icon name="refresh" size="large"></ion-icon>
      </ion-button>
    </ng-template>
    <ng-template [ngIf]="refresh_paused && !needs_refresh">
      <ion-button slot="end" (click)="unpauseRefresh()" fill="clear" no-margin>
        <ion-icon src="/assets/icon/md-norefresh.svg" size="large"></ion-icon>
      </ion-button>
    </ng-template>
    <ng-template [ngIf]="refresh_paused && needs_refresh">
      <ion-button slot="end" (click)="refreshOnce()" fill="clear" no-margin>
        <ion-icon src="/assets/icon/md-needsrefresh.svg" size="large"></ion-icon>
      </ion-button>
    </ng-template>-->
  </ion-toolbar>
</ion-header>

<!-- if we want scroll buttons:
  <ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-fab size="small" *ngIf="scroll_position>0" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="scrollToTop()" fill="clear" color="primary">
      <ion-icon size="small" name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab size="small" *ngIf="scroll_position<1" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="scrollToBottom()" fill="clear" color="primary">
      <ion-icon size="small" name="chevron-down-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
-->
  <ion-content>
    <ng-template [ngIf]="p!=null">
    <ion-list lines="full">
      <ion-item color="primary">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin ion-padding-bottom">
              <h3><b><i>{{p.title}}</i></b></h3>
              <i>{{p.desc}}</i><br/>
              <small>Closes {{p.due}}</small>
              <!--.toLocalDateString(language, { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' })-->
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item color="light">
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin" style="padding-top:5px;padding-bottom:6px;">
            <ion-col class="ion-no-margin ion-padding-right">
              <small>The ratings below are also used for 3 other voters, who have delegated to you.</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item color="warning"> <!--light-->
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin" style="padding-top:5px;">
            <ion-col class="ion-no-margin ion-padding-right">
<!--              <small>Please rate these options or add more options:</small>-->
              <small>{{
                n_delegated == oidsorted.length ? 'All of your' : (
                  2*n_delegated > oidsorted.length ? 'Most of your' : (
                    n_delegated > 0 ? 'Some of your' : 'Currently none of your'))}} 
                ratings are controlled&nbsp;by&nbsp;your&nbsp;delegate</small><br/>
              dcd@posteo.de&nbsp;
              <ion-button class="ion-no-padding ion-no-border" fill="clear" style="position:relative;top:-7px;">
                <ion-icon name="pencil-outline"></ion-icon>
              </ion-button>&nbsp;
              <ion-button class="ion-no-padding ion-no-border" fill="clear" style="position:relative;top:-7px;">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="ion-no-padding ion-no-margin ion-padding-left ion-text-right">
              <small>If&nbsp;you&nbsp;still&nbsp;want&nbsp;to</small><br/>
              rate&nbsp;some&nbsp;options&nbsp;yourself,<br/>
              <small>choose&nbsp;them&nbsp;here</small>&nbsp;<ion-icon name="arrow-down-outline" style="position:relative;top:3px;"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
<!--      <ion-item>
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin">
              <ng-template [ngIf]="expanded=='poll'">
                <ng-template [ngIf]="p.uri!=null">
                  <ion-button (click)="g.showinbrowser(p.uri)" fill="clear" 
                    class="ion-no-padding ion-no-margin ion-float-right ion-padding-left">
                    <ion-icon name="open" slot="icon-only"></ion-icon>
                  </ion-button>
                </ng-template>
                <h4>{{p.desc}}</h4>
                <small><b><span style="color:#9abcbd">created by Jobst</span></b></small><br/>&nbsp;<br/>
              </ng-template>
              <b>
                <span style="color:#62a73b">Use the sliders to <span style="color:#3465a4">rate</span> the options
                <small><a routerLink="/help">(how?)</a></small>
                <br/>
                <small>It's a good idea to give one option 100, all better-than-average options something larger than 0,
                and all worse-than-average options zero.<br/>&nbsp;
                </small></span>
              </b>
            </ion-col>
            <ion-col size="1" class="ion-no-padding ion-no-margin">
              <ion-button (click)="expand('poll')" class="ion-float-right ion-no-padding ion-no-margin" 
                  fill="clear">
                <ion-icon [name]="(expanded=='poll')?'arrow-dropup':'arrow-dropdown'" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <app-expandable [expanded]="expanded=='poll'">
            <ion-row class="ion-no-padding ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <ion-button class="ion-float-right ion-no-padding" routerLink="/pollstats">
                  <ion-icon name="pulse" size="small"></ion-icon>
                </ion-button>
                <b>
                  <span style="color:#769596">
                    {{Math.round(p.expected_approval*1000)/10}}%&nbsp;{{(p.type=='winner')?'consensus':'focus'}} so far,
                    poll closes Thu 28 Mar 2019.
                  </span>
                  <span style="color:#9abcbd">
                    <small>
                      Currently {{Math.round(p.voting_share*1000)/10}}% are supporting some option,
                      the largest support is {{Math.round(p.max_approval*1000)/10}}%,
                      the smallest is {{Math.round(p.min_approval*1000)/10}}%.
                    </small>
                  </span>
                </b>
              </ion-col>
            </ion-row>
          </app-expandable>
        </ion-grid>
      </ion-item>-->
  
      <ion-item *ngFor="let item of [].constructor(p.oids.length); let i = index"><!-- Array(p.oids.length).fill(0).map(i => i) | sortoptions: {opos: opos}-->
        <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="50px">
          <circle cx="21" cy="25" r="20" fill="#bce4e5" stroke="none"/>
          <path [id]="'pie_'+oidsorted[i]" d="M 21,25 l 0,-20 a 20 20 0 0 1 20 20 Z" fill="#9abcbd" />
        </svg>
        <ion-grid class="ion-no-padding ion-no-margin">
          <ion-row class="ion-no-padding ion-no-margin" style="padding-top: 8px;"><!--ion-padding-top -->
            <ion-col size="auto" class="ion-no-padding ion-no-margin">
              <ion-button (click)="expand(oidsorted[i])" fill="clear" 
                  class="ion-no-padding ion-no-margin">
                <ion-icon size="small" class="ion-no-padding ion-no-margin" 
                  style="color:black; position: relative; left: -5px;"
                  [name]="(expanded[oidsorted[i]])?'chevron-down-outline':'chevron-forward-outline'" 
                  slot="icon-only"></ion-icon><!--FIXME: improve placement-->
              </ion-button>
            </ion-col>
            <ion-col class="ion-no-padding ion-no-margin">
              <ion-label class="ion-no-padding ion-no-margin" style="padding-top: 4px;">
                <b><i>{{p.options[oidsorted[i]].name}}&nbsp;</i></b>
              </ion-label>
            </ion-col>
            <ion-col size="auto" class="ion-no-padding ion-no-margin">
              <ion-label class="ion-no-padding ion-no-margin ion-text-right" style="padding-top: 4px;"
                [innerHtml]="rate_yourself_toggle[oidsorted[i]]?'you rate this':'<small>delegated</small>'">
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding ion-no-margin">
            <ion-col class="ion-no-padding ion-no-margin" [id]="'_slider_'+oidsorted[i]+'_'+sortingcounter"
            ><!--(pointerdown)="onRangePointerdown($event)" (pointerup)="onRangePointerup($event)" [color]="slidercolor[oidsorted[i]]"-->
              <ion-range 
                  [id]="'slider_'+oidsorted[i]+'_'+sortingcounter" 
                  [color]="slidercolor[oidsorted[i]]"
                  [value]="p.getRating(oidsorted[i], p.myvid)" 
                  (ionFocus)="ratingChangeBegins(oidsorted[i])" 
                  (ionChange)="ratingChanges(oidsorted[i])" 
                  (ionBlur)="ratingChangeEnded(oidsorted[i])" 
                  pin="true" min="0" max="100"
                  [style]="'--bar-background:rgba(0,0,0,0);'
                    +(rate_yourself_toggle[oidsorted[i]]
                    ?'pointer-events:;--bar-height:7px;--knob-size:35px'
                    :'pointer-events:none;--bar-height:5px;--knob-size:17px')" 
                  class="ion-no-padding ion-no-margin"><!--35px-->
                <ion-label slot="end" class="ion-no-padding ion-no-margin" style="padding-right:12px;">
                  <div style="position:absolute;bottom:0px;right:11px;z-index:-10;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="35px"><!--FIXME: in landscape mode on Android, the bars are too narrow!-->
                      <rect [id]="'bar_'+oidsorted[i]" x="100%" width="0%" y="8" height="18" 
                        fill="#bce4e5" stroke="none"/>
                            <!--TODO?: [attr.x]="''+(100*(1-p.apprs[oidsorted[i]]))+'%'" [attr.width]="''+(100*p.apprs[oidsorted[i]])+'%'"-->
                      <line x1="100%" y1="0" x2="100%" y2="34" fill="none" stroke="#bce4e5" stroke-width="3"/>
                      <rect x="0%" width="100%" y="16" height="2" fill="#b4dbdb" stroke="none"/>
                    </svg>
                  </div>
                </ion-label>
              </ion-range>
            </ion-col>
            <ion-col class="ion-no-margin ion-no-padding" size="auto">&nbsp;&nbsp;&nbsp;
              <ion-toggle [id]="'rate_yourself_toggle_'+oidsorted[i]" 
                (ionChange)="onDelegateToggleChange()"
                class="ion-no-margin ion-no-padding ion-padding-bottom ion-padding-top" 
                style="position:relative; top: -2px;" 
                [(ngModel)]="rate_yourself_toggle[oidsorted[i]]">
              </ion-toggle>
            </ion-col>  
          </ion-row>
          <app-expandable [id]="'expander_'+oidsorted[i]+'_'+sortingcounter" [expanded]="expanded[oidsorted[i]]">
            <ion-row class="ion-no-padding ion-padding-bottom ion-no-margin">
              <ion-col class="ion-no-padding ion-no-margin">
                <b><span style="color:#9abcbd"><small>currently </small>
                  <ng-template [ngIf]="p.type=='winner'">
                    <span style="color:#769596"> {{Math.round(p.probs[oidsorted[i]]*1000)/10}}%<small>&nbsp;chance&nbsp;to&nbsp;win</small></span>
                  </ng-template>
                  <ng-template [ngIf]="p.type=='share'">
                    <span style="color:#769596">getting&nbsp;{{Math.round(p.probs[oidsorted[i]]*1000)/10}}%<small>&nbsp;of&nbsp;the&nbsp;budget</small></span>
                  </ng-template>
                  <small><span style="color:#4c822e" [style.display]="(votedfor==oidsorted[i])?'inline':'none'">&nbsp;(including&nbsp;your&nbsp;share)</span>,
                    approved&nbsp;by&nbsp;</small>{{Math.round(p.apprs[oidsorted[i]]*1000)/10}}%</span>
                  <span style="color:#62a73b" [style.display]="approved[oidsorted[i]]?'inline':'none'">
                    <small>&nbsp;(including&nbsp;you)</small>
                  </span>
                  <span style="color:#9abcbd">
                    <small>&nbsp;<b>(<a [href]="'/explainoptionresult/'+oidsorted[i]">explain</a>)</b></small>
                  </span>
                </b>
<!--                <ion-button [routerLink]="'/explainsupport/'+oidsorted[i]" no-padding>
                  <ion-icon name="help" size="small" slot="icon-only"></ion-icon>
                </ion-button>-->
                <span [style.display]="(p.options[oidsorted[i]].desc!=null||p.options[oidsorted[i]].uri!=null)?'inline':'none'"><br/></span>
                <span [style.display]="p.options[oidsorted[i]].desc!=null?'inline':'none'">
                  <i>{{p.options[oidsorted[i]].desc}}&nbsp;&nbsp;</i>
                </span>
                <span [style.display]="p.options[oidsorted[i]].uri!=null?'inline':'none'">
                  <small>(<a [href]="p.options[oidsorted[i]].uri" target="_blank">read more</a>)</small>
                </span>
<!--                <ng-template [ngIf]="p.options[oidsorted[i]].uri!=null">
                  <ion-button (click)="g.showinbrowser(p.options[oidsorted[i]].uri)" fill="clear" item-end no-padding padding-left no-margin>
                    <ion-icon name="open" slot="icon-only"></ion-icon>
                  </ion-button>
                </ng-template>-->
              </ion-col>
            </ion-row>
          </app-expandable>
        </ion-grid>
      </ion-item>
      <ion-item lines="none" class="ion-no-padding" style="padding-left: 10px; padding-top: 10px;">
        <ion-fab-button size="small" (click)="addOption()" fill="clear" color="primary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-button class="ion-no-padding ion-no-margin" fill="clear" (click)="addOption()"> 
          Add option
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <small>If you believe some important option is missing and is not covered by any of the listed options, 
          you can add it. Once added, options cannot be removed again however.</small>
      </ion-item>
    </ion-list>
  </ng-template>
  </ion-content>
