<!--
  TODO: 
  - show winning prob. as percentage in circle?
  - show avg. rating if necessary as tiebreaker (how?)
  - extend expanded rows to below circle

  <ion-icon name="people-outline"></ion-icon>
  <ion-icon name="arrow-redo-outline"></ion-icon>
  <ion-icon name="navigate-outline"></ion-icon>
  <ion-icon name="open-outline"></ion-icon>
-->

<!-- HEADER: -->

<ion-header 
    (pointerup)="onBodyPointerup($event)"
    (touchup)="onBodyTouchup($event)">
  <ion-toolbar style="padding-right: 11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'poll.-page-title' | translate"></ion-title>
    <ion-buttons slot="end">

      <!-- only in debug: simulate closing -->
      <ion-toggle
        [(ngModel)]="running">
      </ion-toggle>

      <!-- DELEGATE BUTTON: -->

      <ion-button *ngIf="delegation_status!='agreed' && running"
          (click)="delegate_dialog($event)" 
          shape="round" size="large" color="primary">
        <span 
          [innerHtml]="'poll.delegate-button' | translate">
        </span>&nbsp;<ion-button 
            shape="round" fill="solid" color="primary">
          <ion-icon src="assets/icon/delegate-simple.svg">
          </ion-icon>
        </ion-button>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- SCROLLABLE CONTENT: -->

<ion-content *ngIf="ready" (pointerup)="onBodyPointerup($event)">
  <ion-list lines="full">

    <!-- NEWS -->

    <ion-card *ngFor="let n of news">
      <ion-card-content class="ion-no-margin ion-no-padding">
        <ion-item lines="none" class="ion-no-margin ion-no-padding item-text-wrap" color="warning">
          &nbsp;&nbsp;
          <ion-label class="ion-no-margin ion-no-padding">
            {{n.title}}
            <small *ngIf="n.body">
              <br/>
              {{n.body}}
            </small>  
          </ion-label>
          <ion-button slot="end" class="ion-no-margin ion-no-padding" fill="clear" size="small" (click)="news.delete(n);G.N.dismiss(n.key)">
            <ion-icon slot="icon-only" name="close-outline" style="color:gray!important">
            </ion-icon>    
          </ion-button>  
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- GENERAL POLL INFORMATION -->

    <ion-item color="primary">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin ion-padding-bottom">

            <!-- NOTIFY OF DIFFERENT LANGUAGE: -->

            <small *ngIf="(!!p.language) && (p.language != G.S.language)">
              <p [innerHtml]="'poll.different-language' | translate: {language: G.S.language_names[p.language]}"></p>
            </small>

            <!-- POLL TITLE, DESCRIPTION, "READ MORE" LINK -->

            <h3><b><i>{{p.title}}</i></b></h3>
            <i *ngIf="(p.desc||'')!=''">{{p.desc}}&nbsp;</i>
            <small *ngIf="(p.url||'') != ''">
              (<ion-text 
                class="externallink" 
                (click)="G.open_url_in_new_tab(G.D.fix_url(p.url))" 
                [innerHtml]="'read-more' | translate">
              </ion-text>)
            </small>
            <br *ngIf="(p.desc||'')!='' || (p.url||'') != ''"/>

            <!-- CLOSING DATE, CLOSING SOON BADGE: -->

            <small>
              <ion-badge *ngIf="running && p.is_closing_soon" 
                class="ion-no-margin" 
                style="position: relative; bottom: -6px;" 
                color="danger" 
                [innerHtml]="'badges.closing-soon'|translate">
              </ion-badge>
              <span *ngIf="running && !p.is_closing_soon"
                [innerHtml]="'poll.closes' | translate">
              </span><span *ngIf="!running"
                [innerHtml]="'poll.closed' | translate">
              </span>&nbsp;<b 
                [innerHtml]="G.D.format_date(p.due)">
              </b>
            </small>
            <br/>

            <ion-icon 
                color="light" style="position: relative; top: 3px" 
                [name]="p.agreement_level == 1 ? 'checkmark-done-outline' : 'analytics-outline'">
            </ion-icon>
            <small style="white-space: nowrap;">
              <b>&nbsp;{{Math.round(p.agreement_level * 1000) / 10}}</b>%&nbsp;<span [innerHtml]="'level-of-agreement'|translate"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            </small>
            <ion-icon 
                color="light" style="position: relative; top: 3px" 
                name="people-outline">
            </ion-icon>&nbsp;<small style="white-space: nowrap;">
              <b>{{p.T.n_not_abstaining}}</b>&nbsp;<span [innerHtml]="'non-abstaining-voters'|translate"></span>&nbsp;
            </small><ion-button
                class="ion-no-padding ion-no-margin" fill="clear" size="small" 
                style="position: relative; top: -2px"
                [routerLink]="'/inviteto/'+p.pid" >
              <ion-icon 
                  class="ion-no-padding ion-no-margin" 
                  name="share-social-outline" 
                  color="light">
              </ion-icon>  
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- VOTE STATUS BANNER: -->

    <ng-container *ngIf="running">
      <ion-item *ngIf="p.am_abstaining" color="danger">
        <small>
          <p>
            <span style="font-size: medium" [innerHtml]="'poll.hint-abstaining-1'|translate"></span>&nbsp; 
            <span [innerHtml]="'poll.hint-abstaining-2'|translate"></span>
          </p>
        </small>
      </ion-item>
      <ion-item *ngIf="p.my_n_rated_positive == 1" color="warning">
        <small>
          <p>
            <span style="font-size: medium" [innerHtml]="'poll.hint-only1positive-1'|translate"></span>&nbsp; 
            <span [innerHtml]="'poll.hint-only1positive-2'|translate"></span>
          </p>
        </small>
      </ion-item>
      <ion-item *ngIf="p.my_n_rated_positive != 1 && p.my_n_approved == 1" color="secondary">
        <small>
          <p>
            <span style="font-size: medium" [innerHtml]="'poll.hint-only1approved-1'|translate"></span>&nbsp; 
            <span [innerHtml]="'poll.hint-only1approved-2'|translate"></span>
          </p>
        </small>
      </ion-item>
      <ion-item *ngIf="p.my_n_approved > 1 && !p.T.approvals_map.get(oidsorted[0]).get(p.myvid)" color="light">
        <small>
          <p>
            <span style="font-size: medium" [innerHtml]="'poll.hint-mostapproved-1'|translate"></span>&nbsp;
            <span [innerHtml]="'poll.hint-mostapproved-2'|translate"></span>
          </p>
        </small>
      </ion-item>
    </ng-container>

    <!-- FINAL RESULTS (if closed): -->

    <ng-container *ngIf="!running">
      <ion-item color="light">
        <p>
          Results:
        </p>
      </ion-item>
      <ion-item color="danger">
        <p>
          <b>The winner is <i>{{p.options[oidsorted[0]].name}}</i></b>
        </p>
      </ion-item>
      <ion-item color="light">
        <p>
          <small>
            <span [innerHtml]="'poll.final-ratings'|translate"></span>
          </small>
        </p>
      </ion-item>
    </ng-container>
    
    <!-- INCOMING DELEGATIONS BANNER: -->

    <ion-item *ngIf="(accepted_requests.length > 0) || (declined_requests.length > 0)"
        color="light">
      <ion-grid class="ion-no-padding ion-no-margin">

        <!-- SUMMARY: -->

        <ion-row 
            class="ion-no-padding ion-no-margin" 
            style="padding-top: 5px; padding-bottom: 6px;">
          <ion-col class="ion-no-margin ion-padding-right" >
            <small>
              <span *ngIf="accepted_requests.length > 0" 
                [innerHtml]="
                  ((n_indirect_clients == 1 ? 'poll.also-for-other' : 'poll.also-for-others' )
                  | translate: {n_others: n_indirect_clients})
                  + ' '
                ">
              </span>
              <span *ngIf="declined_requests.length > 0" 
                [innerHtml]="(n_indirect_clients == 0 ? 'poll.declined-all' : 'poll.declined-some') | translate">
              </span>
              &nbsp;
              <ion-button
                  class="ion-no-padding ion-no-margin" fill="clear" size="small" 
                  style="position: relative; top: -4px"
                  (click)="incoming_delegation_expanded =! incoming_delegation_expanded">
                <ion-icon 
                    class="ion-no-padding ion-no-margin" 
                    name="ellipsis-vertical">
                </ion-icon>  
              </ion-button>
            </small>
          </ion-col>
        </ion-row>

        <!-- EXPANDABLE DETAILS: -->

        <!-- Accepted requests: -->

        <ion-row *ngIf="incoming_delegation_expanded && accepted_requests.length > 0">
          <ion-col class="ion-text-right">
            <small>
              <span [innerHtml]="'poll.have-accepted' | translate"></span>
              <ion-chip *ngFor="let r of accepted_requests" 
                  [routerLink]="r.url" 
                  outline="true">
                <ion-icon 
                  name="mail-open-outline"
                  style="color:grey" size="small">
                </ion-icon>
                <small>{{r.from}}</small>
              </ion-chip>
            </small>
          </ion-col>
        </ion-row>

        <!-- Declined requests: -->

        <ion-row *ngIf="incoming_delegation_expanded && declined_requests.length > 0">
          <ion-col class="ion-text-right">
            <small>
              <span [innerHtml]="'poll.have-declined' | translate"></span>
              <ion-chip *ngFor="let r of declined_requests" 
                  [routerLink]="r.url" 
                  outline="true">
                <ion-icon 
                  name="mail-open-outline"
                  style="color:grey" size="small">
                </ion-icon>
                <small>{{r.from}}</small>
              </ion-chip>
            </small>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <!-- OUTGOING DELEGATION BANNER: -->

    <ion-item *ngIf="delegation_status=='pending'" 
        color="warning"> 
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">

          <!-- Info about how many ratings the delegate controls: -->

          <ion-col class="ion-no-margin ion-padding-right">
            <small>
              <p>
                <span style="font-size: medium;">{{delegate}}</span>&nbsp;
                <span [innerHtml]="
                  'poll.delegate-not-responded' | translate
                  ">
                </span>
              </p>
            </small>
          </ion-col>

          <!-- Revoke delegation button: -->

          <ion-col size="auto" class="ion-no-margin">
            <ion-button 
                [disabled]="!running"
                fill="clear" (click)="revoke_delegation_dialog()">
              <ion-icon name="trash-outline" style="color:black"></ion-icon>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="delegation_status=='agreed'" 
        color="warning"> 
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">

          <!-- Info about how many ratings the delegate controls: -->

          <ion-col class="ion-no-margin ion-padding-right">
            <small>
              <p>
                <span style="font-size: medium;">{{delegate}}</span>&nbsp;
                <span [innerHtml]="
                  'poll.delegate-controls-' 
                  + (n_delegated == oidsorted.length ? 'all' 
                     : 2*n_delegated > oidsorted.length ? 'most' 
                     : n_delegated > 0 ? 'some' : 'none'
                    ) | translate
                  ">
                </span>
              </p>
            </small>
          </ion-col>

          <!-- Revoke delegation button: -->

          <ion-col size="auto" class="ion-no-margin">
            <ion-button fill="clear" (click)="revoke_delegation_dialog()">
              <ion-icon name="trash-outline" style="color:black"></ion-icon>
            </ion-button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </ion-col>

          <!-- Help text for delegation toggles: -->

          <ion-col 
              size="auto" 
              class="ion-no-padding ion-no-margin ion-padding-left ion-text-right" 
              style="padding-bottom:3px;">
            <small>
              <p>
                <span [innerHtml]="'poll.choose-whose-ratings' | translate"></span>&nbsp;
                <ion-icon 
                  name="arrow-down-outline" 
                  style="position:relative;top:3px;">
                </ion-icon>
              </p>
            </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <!-- OPTIONS: -->

    <ion-item *ngFor="let item of [].constructor(oidsorted.length); let i = index" style="align-items:flex-start">

      <!-- Possible alternative placement of expansion button, not preferred just now:
      <ion-button 
          (click)="expand(oidsorted[i])" 
          fill="clear"
          class="ion-no-padding ion-no-margin"
          style="position:absolute; left:-4px; top:5px; z-index:1;">
        <ion-icon 
            [name]="(expanded[oidsorted[i]]) ? 'chevron-down-outline' : 'chevron-forward-outline'" 
            size="small" class="ion-no-padding ion-no-margin" 
            style="color:black; z-index:10;"
            slot="icon-only">
        </ion-icon>
      </ion-button>
      -->

      <!-- PIE CHART WITH WINNING PROBABILITY: - ->

      <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="50px" style="position:relative; top:14px;">
        <circle cx="21" cy="25" r="20" fill="#bce4e5" stroke="none" />
        <path [id]="'pie_'+oidsorted[i]" d="M 21,25 l 0,-20 a 20 20 0 0 1 0 0 Z" fill="#9abcbd" />
      </svg>
      <!---->

      <!-- ALWAYS VISIBLE STUFF: -->

      <ion-grid class="ion-no-padding ion-no-margin">

        <ion-row class="ion-no-padding ion-no-margin">

          <!-- PIE CHART WITH WINNING PROBABILITY: -->

          <ion-col size="auto" class="ion-no-padding ion-no-margin">
            <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="50px" style="position:relative; top:14px;">
              <circle cx="21" cy="25" r="20" fill="#bce4e5" stroke="none" />
              <path [id]="'pie_'+oidsorted[i]" d="M 21,25 l 0,-20 a 20 20 0 0 1 0 0 Z" fill="#9abcbd" />
            </svg>
          </ion-col>

          <ion-col>

            <ion-grid class="ion-no-padding ion-no-margin">

              <ion-row class="ion-no-padding ion-no-margin" style="padding-top: 8px;">

                <!-- Button for expanding details: -->

                <ion-col size="auto" class="ion-no-padding ion-no-margin">
                  <ion-button 
                      (click)="expand(oidsorted[i])" 
                      fill="clear" style="position:relative; left:-5px; z-index:1;"
                      class="ion-no-padding ion-no-margin">
                    <ion-icon 
                        [name]="(expanded[oidsorted[i]]) ? 'chevron-down-outline' : 'chevron-forward-outline'" 
                        size="small" class="ion-no-padding ion-no-margin" 
                        style="color:black; z-index:10;"
                        slot="icon-only">
                    </ion-icon><!--FIXME: improve consistent placement in various browsers-->
                  </ion-button>
                </ion-col>

                <!-- OPTION NAME: -->

                <ion-col class="ion-no-padding ion-no-margin">
                  <ion-label class="ion-no-padding ion-no-margin" style="padding-top: 4px;">
                    <b><i>{{p.options[oidsorted[i]].name}}&nbsp;</i></b>
                  </ion-label>
                </ion-col>
              </ion-row>

              <!-- RATING CONTROLS: -->

              <ion-row class="ion-no-padding ion-no-margin">

                <ion-col 
                    [id]="'_slider_'+oidsorted[i]+'_'+sortingcounter"
                    class="ion-no-padding ion-no-margin" 
                    (click)="onRatingColClick(oidsorted[i], $event)" 
                    (pointerdown)="onRatingColPointerdown(oidsorted[i], $event)" 
                    (touchstart)="onRatingColTouchstart(oidsorted[i], $event)" 
                    (touchup)="onRatingColTouchup(oidsorted[i], $event)"
                    (pointerup)="onRatingColPointerup(oidsorted[i], $event)"
                    >

                  <!-- SLIDER: -->

                  <!-- TODO: sometimes looks strange in Chrome (white shadowed large knob, bar displaced too low)-->
                  <ion-range 
                      [disabled]="!running"
                      [id]="'slider_'+oidsorted[i]+'_'+sortingcounter" 
                      [color]="slidercolor[oidsorted[i]]"
                      [value]="p.get_my_proxy_rating(oidsorted[i])" 
                      (ionFocus)="onRatingSliderFocus(oidsorted[i])" 
                      (ionChange)="onRatingSliderChange(oidsorted[i])" 
                      pin="true" min="0" max="100"
                      [style]="'--bar-background: rgba(0,0,0,0);'
                        + (rate_yourself_toggle[oidsorted[i]] || delegation_status!='agreed'
                        ? 'pointer-events:; --bar-height: 7px; --knob-size: 35px'
                        : 'pointer-events: none; --bar-height: 5px; --knob-size: 17px')" 
                      class="ion-no-padding ion-no-margin">

                    <ion-label 
                        slot="end" 
                        class="ion-no-padding ion-no-margin" 
                        style="margin-right:12px;">
                        <!--don't do width:100% in ion-label since otherwise the slider is not working properly!-->

                      <!-- APPROVAL BAR: -->

                      <div style="position: absolute; bottom: 0px; right: 11px; z-index: -10; width: 100%; padding-left: 11px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="35px">
                          <rect [id]="'bar_' + oidsorted[i]" 
                            x="100%" width="0%" y="8" height="18" 
                            fill="#bce4e5" stroke="none" /><!--Note: width will change dynamically-->
                          <line x1="100%" y1="0" x2="100%" y2="34" fill="none" stroke="#bce4e5" stroke-width="3" />
                          <rect x="0%" width="100%" y="16" height="2" fill="#b4dbdb" stroke="none" />
                        </svg>
                      </div>

                      <!-- DELEGATE'S RATING -->

                      <div style="position: absolute; top: -2px; right: 11px; z-index: -5; width: 100%; padding-left: 11px"
                          [style.display]="delegation_status=='agreed' && rate_yourself_toggle[oidsorted[i]] ? 'inline' : 'none'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="15px">
                          <line [id]="'del_needle_' + oidsorted[i]" x1="0" y1="8" x2="50%" y2="8" fill="none" stroke="#9abcbd" stroke-width="2" stroke-dasharray="3 2" />
                          <circle [id]="'del_knob_' + oidsorted[i]" cx="50%" cy="8" r="5" fill="#9abcbd" stroke="none"/>
                          <!--FIXME: circle is cropped when close to either endpoint. how to avoid this?-->
                        </svg>
                      </div>

                    </ion-label>
                  </ion-range>
                </ion-col>

                <!-- DELEGATION TOGGLE: -->

                <ion-col *ngIf="delegation_status=='agreed'" 
                    class="ion-no-margin ion-no-padding" 
                    size="auto">&nbsp;&nbsp;&nbsp;
                  <ion-toggle [id]="'rate_yourself_toggle_' + oidsorted[i]" 
                    [disabled]="!running"
                    (ionChange)="on_rate_yourself_toggle_change(oidsorted[i])"
                    class="ion-no-margin ion-no-padding ion-padding-bottom ion-padding-top" 
                    style="position:relative; top:-8px;" 
                    [(ngModel)]="rate_yourself_toggle[oidsorted[i]]">
                  </ion-toggle>
                  <div style="position:absolute; z-index:10; top:22px; right:1px; text-align:right;">
                    <small [innerHtml]="
                      rate_yourself_toggle[oidsorted[i]] 
                      ? ('poll.my-own' | translate) 
                      : ('poll.delegate-s' | translate: {delegate: delegate})
                      " >
                    </small>
                  </div>
                </ion-col>  
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-no-margin">
          <ion-col class="ion-no-padding ion-no-margin">
            <ion-grid class="ion-no-padding ion-no-margin">

              <!-- EXPANDABLE OPTION DETAILS -->

              <app-expandable [id]="'expander_'+oidsorted[i]+'_'+sortingcounter" 
                  [expanded]="expanded[oidsorted[i]]">
                <ion-row class="ion-no-padding ion-padding-bottom ion-no-margin">
                  <ion-col class="ion-no-padding ion-no-margin">
                    <b>
                      <!-- Winning chance/budget share: -->
                      <span style="color:#769596">
                        <span [innerHtml]="
                          (p.type == 'winner' 
                              ? (running?'poll.chance-to-win':'poll.final-chance-to-win') 
                              : (running?'poll.of-the-budget':'poll.final-budget')) 
                          | translate: {percentage: 
                            Math.round(p.T.shares_map.get(oidsorted[i]) * 1000) / 10
                          }">
                        </span>
                        <small>
                          <span style="color:#4c822e" 
                            [style.display]="(votedfor == oidsorted[i]) ? 'inline' : 'none'"
                            [innerHtml]="'poll.including-your-share' | translate">
                          </span>,
                        </small>
                      </span>
                      <!-- Approval: -->
                      <span style="color:#9abcbd">
                        <span [innerHtml]="
                          'poll.approved-by' | translate: {percentage:
                            Math.round(p.T.approval_scores_map.get(oidsorted[i]) / Math.max(1, p.T.n_not_abstaining) * 1000) / 10
                          }">
                        </span>
                      </span>
                      <small>
                        <span style="color:#62a73b" 
                          [style.display]="approved[oidsorted[i]] ? 'inline' : 'none'"
                          [innerHtml]="'poll.including-you' | translate">
                        </span><!-- avg. rating: --><span *ngIf="(i>0 && p.T.approval_scores_map.get(oidsorted[i-1]) == p.T.approval_scores_map.get(oidsorted[i])) || (i<oidsorted.length-1 && p.T.approval_scores_map.get(oidsorted[i+1]) == p.T.approval_scores_map.get(oidsorted[i]))" style="color:#9abcbd">,
                          <span [innerHtml]="
                            'poll.average-rating' | translate: {average:
                              Math.round(p.T.total_effective_ratings_map.get(oidsorted[i]) / Math.max(1, p.T.n_not_abstaining) * 10) / 10
                            }">
                          </span>
                        </span>
                        <!-- explanation link: -->
                        <span style="color:#9abcbd">
                          &nbsp;(<a 
                            (click)="explain_approval_dialog(oidsorted[i])"
                            [innerHtml]="'poll.explain' | translate">
                          </a>)
                        </span>
                      </small>
                    </b>
                    <span [style.display]="(!!p.options[oidsorted[i]].desc || !!p.options[oidsorted[i]].url) ? 'inline' : 'none'">
                      <br/>
                    </span>
                    <span [style.display]="p.options[oidsorted[i]].desc != '' ? 'inline' : 'none'">
                      <i>{{p.options[oidsorted[i]].desc}}&nbsp;&nbsp;</i>
                    </span>
                    <span [style.display]="p.options[oidsorted[i]].url != '' ? 'inline' : 'none'">
                      <small>
                        (<ion-text 
                            class="externallink" 
                            (click)="G.open_url_in_new_tab(G.D.fix_url(p.options[oidsorted[i]].url))" 
                            [innerHtml]="'read-more' | translate">
                        </ion-text>)
                      </small>
                    </span>

                    <!-- debugging info: - ->

                    <small>
                      <br/>direct_delegation_map: {{G.map2str(p.direct_delegation_map.get(oidsorted[i]))}}
                      <br/>inv_direct_delegation_map: {{G.map2str(p.inv_direct_delegation_map.get(oidsorted[i]))}}
                      <br/>indirect_delegation_map: {{G.map2str(p.indirect_delegation_map.get(oidsorted[i]))}}
                      <br/>inv_indirect_delegation_map: {{G.map2str(p.inv_indirect_delegation_map.get(oidsorted[i]))}}
                      <br/>effective_delegation_map: {{G.map2str(p.effective_delegation_map.get(oidsorted[i]))}}
                      <br/>inv_effective_delegation_map: {{G.map2str(p.inv_effective_delegation_map.get(oidsorted[i]))}}
                      <br/>ratings_ascending_map: {{G.map2str(p.T.ratings_ascending_map)}}
                      <br/>thresholds_map: {{G.map2str(p.T.thresholds_map)}}
                      <br/>approval_scores_map: {{G.map2str(p.T.approval_scores_map)}}
                      <br/>total_effective_ratings_map: {{G.map2str(p.T.total_effective_ratings_map)}}
                      <br/>votes_map: {{G.map2str(p.T.votes_map)}}
                      <br/>n_votes_map: {{G.map2str(p.T.n_votes_map)}}
                      <br/>shares_map: {{G.map2str(p.T.shares_map)}}
                    </small>
                    <!---->
                    
                  </ion-col>
                </ion-row>
              </app-expandable>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

    <!-- ADD OPTION BUTTON: -->

    <ng-container *ngIf="running">
      <ion-item lines="none" class="ion-no-padding" style="padding-left: 10px; padding-top: 10px;">
        <ion-fab-button 
          size="small" (click)="add_option($event)" fill="clear" color="primary">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-button 
          class="ion-no-padding ion-no-margin" fill="clear" (click)="add_option($event)"
          [innerHtml]="'poll.add-option' | translate"> 
        </ion-button>
      </ion-item>
      <ion-item lines="none">
        <small [innerHtml]="'poll.add-option-info' | translate"></small>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
