<!--
Copyright Contributors to the vodle project.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'imprint.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
        <ion-img src="./assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="western">
    Potsdam-Institut für Klimafolgenforschung (PIK) e. V.</h2>
    <p>Telegrafenberg A 31<br/>
    14473 Potsdam</p>
    <h3 class="western">Lieferadresse</h3>
    <p>Telegrafenberg A 26 UG<br/>
    14473 Potsdam</p>
    <h3 class="western">Postanschrift</h3>
    <p>Postfach 60 12 03<br/>
    14412 Potsdam<br/>
    Tel.: 0331 288-2500<br/>
    Fax:
    0331 288-2600<br/>
    E-Mail: <a href="mailto:impressum@pik-potsdam.de">impressum@pik-potsdam.de</a><br/>
    Internet:
    http://www.pik-potsdam.de</p>
    <h2 class="western">Direktoren:</h2>
    <p>Prof.
    Ottmar
    Edenhofer<br/>
    Prof.
    Johan
    Rockström<br/>
    Dr. Bettina Hörstrup</p>
    <p>Registergericht: Amtsgericht Potsdam<br/>
    Registernummer: VR
    1038<br/>
    Inhaltlich Verantwortlicher gemäß <b>§ 55 RStV</b>:<br/>
    Der
    vertretungsberechtigte Vorstand</p>
    <h2 class="western">Haftungsausschluss (Disclaimer)</h2>
    <h3 class="western">Inhalte</h3>
    <p>Der Inhalt dieser Seiten wurde sorgfältig bearbeitet und
    überprüft. Das Potsdam-Institut für Klimafolgenforschung (PIK)
    übernimmt jedoch keine Gewähr für die Aktualität, Richtigkeit,
    Vollständigkeit oder Qualität der bereitgestellten Informationen.
    Haftungsansprüche gegen das PIK, die sich auf Schäden materieller
    oder ideeller Art beziehen, welche durch die Nutzung oder
    Nichtnutzung der dargebotenen Informationen oder durch fehlerhafte
    und unvollständige Informationen verursacht wurden, sind
    grundsätzlich ausgeschlossen, sofern seitens des PIK kein
    nachweislich vorsätzliches oder grob fahrlässiges Verschulden
    vorliegt. Das PIK behält sich ausdrücklich das Recht vor, Teile der
    Seite oder das gesamte Angebot ohne vorherige Ankündigung zu
    verändern, zu ergänzen, zu löschen oder die Veröffentlichung
    einzustellen.</p>
    <h3 class="western">Links</h3>
    <p>Sofern das PIK direkt oder indirekt auf fremde Internetseiten
    verweist (&quot;Links&quot;), haftet es nur, wenn es von den Inhalten
    genaue Kenntnis hat und es technisch möglich und zumutbar ist, die
    Nutzung im Falle rechtswidriger Inhalte zu verhindern. Das PIK
    erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung
    die verlinkten Seiten keine illegalen Inhalte enthalten haben. Es hat
    keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung der
    verlinkten Seiten und distanziert sich daher hiermit ausdrücklich
    von allen inhaltlichen Änderungen, die nach der Linksetzung auf den
    verlinkten Seiten vorgenommen werden. Das PIK ist nicht
    verantwortlich für den Inhalt, die Verfügbarkeit, die Richtigkeit
    und die Genauigkeit der verlinkten Seiten, deren Angebote, Links oder
    Werbeanzeigen. Es haftet nicht für illegale, fehlerhafte oder
    unvollständige Inhalte und insbesondere für Schäden, die durch
    Nutzung oder Nichtnutzung der auf den verlinkten Seiten angebotenen
    Informationen entstehen.</p>
    <h3 class="western">Urheberrecht</h3>
    <p>Das PIK ist bestrebt, in allen Publikationen geltende
    Urheberrechte zu beachten. Sollte es trotzdem zu einer
    Urheberrechtsverletzung kommen, wird das PIK das entsprechende Objekt
    nach Benachrichtigung aus seiner Publikation entfernen bzw. mit dem
    entsprechenden Urheberrecht kenntlich machen. Alle innerhalb des
    Internetangebots genannten und gegebenenfalls durch Dritte
    geschützten Marken- und Warenzeichen unterliegen uneingeschränkt
    den Bestimmungen des jeweils gültigen Kennzeichenrechts und den
    Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein
    aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass
    Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
    <h3 class="western">Rechtswirksamkeit</h3>
    <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu
    betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile
    oder einzelne Formulierungen dieses Textes der geltenden Rechtslage
    nicht, nicht mehr oder nicht vollständig entsprechen sollten,
    bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer
    Gültigkeit hiervon unberührt.</p>
    
</ion-content>
