<!--
(C) Copyright 2015–2022 Jobst Heitzig. 
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'imprint.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
        <ion-img src="./assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>
    Inhaltlich Verantwortlicher gemäß <b>§ 55 RStV</b>:<br/>
    Jobst Heitzig<br/>
    Schönemannstr. 23<br/>
    14542 Werder</p>
    <p>Tel.: 0178 1369603<br/>
    E-Mail: <a href="mailto:info@vodle.it">info@vodle.it</a></p>
    <h2>Haftungsausschluss (Disclaimer)</h2>
    <h3>Inhalte</h3>
    <p>Der Inhalt dieser Seiten wurde sorgfältig bearbeitet und
    überprüft. Der Verantwortliche
    übernimmt jedoch keine Gewähr für die Aktualität, Richtigkeit,
    Vollständigkeit oder Qualität der bereitgestellten Informationen.
    Haftungsansprüche gegen den Verantwortlichen, die sich auf Schäden materieller
    oder ideeller Art beziehen, welche durch die Nutzung oder
    Nichtnutzung der dargebotenen Informationen oder durch fehlerhafte
    und unvollständige Informationen verursacht wurden, sind
    grundsätzlich ausgeschlossen, sofern seitens des Verantwortlichen kein
    nachweislich vorsätzliches oder grob fahrlässiges Verschulden
    vorliegt. Der Verantwortliche behält sich ausdrücklich das Recht vor, Teile der
    Seite oder das gesamte Angebot ohne vorherige Ankündigung zu
    verändern, zu ergänzen, zu löschen oder die Veröffentlichung
    einzustellen.</p>
    <h3>Links</h3>
    <!--TODO: proper quotation marks-->
    <p>Sofern der Verantwortliche direkt oder indirekt auf fremde Internetseiten
    verweist („Links“), haftet er nur, wenn er von den Inhalten
    genaue Kenntnis hat und es technisch möglich und zumutbar ist, die
    Nutzung im Falle rechtswidriger Inhalte zu verhindern. Der Verantwortliche
    erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung
    die verlinkten Seiten keine illegalen Inhalte enthalten haben. Er hat
    keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung der
    verlinkten Seiten und distanziert sich daher hiermit ausdrücklich
    von allen inhaltlichen Änderungen, die nach der Linksetzung auf den
    verlinkten Seiten vorgenommen werden. Der Verantwortliche ist nicht
    verantwortlich für den Inhalt, die Verfügbarkeit, die Richtigkeit
    und die Genauigkeit der verlinkten Seiten, deren Angebote, Links oder
    Werbeanzeigen. Er haftet nicht für illegale, fehlerhafte oder
    unvollständige Inhalte und insbesondere für Schäden, die durch
    Nutzung oder Nichtnutzung der auf den verlinkten Seiten angebotenen
    Informationen entstehen.</p>
    <!--TODO: passus zu fremdgenerierten links und inhalten. recherche haftungsausschluss signal und ähnliche. klären mit khh.-->
    <h3>Nutzergenerierte Inhalte</h3>
    <!--TODO: proper quotation marks-->
    <p>Der Verantwortliche ist nicht verantwortlich für nutzergenerierte Inhalte 
    wie z.B. Überschriften und Beschreibungen von Abstimmungen und von Auswahlmöglichketen,
    und kann diese aufgrund der verwendeten
    Ende-zu-Ende-Verschlüsselung auch nicht prüfen oder auch nur einsehen. 
    Er haftet nicht für illegale, fehlerhafte oder
    unvollständige Inhalte und insbesondere für Schäden, die durch
    Nutzung oder Nichtnutzung der nutzergenerierten 
    Informationen entstehen.</p>
    <h3>Urheberrecht</h3>
    <p>Der Verantwortliche ist bestrebt, in allen Publikationen geltende
    Urheberrechte zu beachten. Sollte es trotzdem zu einer
    Urheberrechtsverletzung kommen, wird der Verantwortliche das entsprechende Objekt
    nach Benachrichtigung aus seiner Publikation entfernen bzw. mit dem
    entsprechenden Urheberrecht kenntlich machen. Alle innerhalb des
    Internetangebots genannten und gegebenenfalls durch Dritte
    geschützten Marken- und Warenzeichen unterliegen uneingeschränkt
    den Bestimmungen des jeweils gültigen Kennzeichenrechts und den
    Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein
    aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass
    Markenzeichen nicht durch Rechte Dritter geschützt sind.</p>
    <h3>Rechtswirksamkeit</h3>
    <p>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu
    betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile
    oder einzelne Formulierungen dieses Textes der geltenden Rechtslage
    nicht, nicht mehr oder nicht vollständig entsprechen sollten,
    bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer
    Gültigkeit hiervon unberührt.</p>
    
</ion-content>
