<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'mypolls.-page-title'|translate" class="ion-no-padding ion-no-margin"></ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<!--
  <ion-icon name="star-outline"></ion-icon>
  <ion-icon name="star-half-outline"></ion-icon>
  <ion-icon name="star"></ion-icon>
-->
<ion-content *ngIf="ready">
  <ion-list lines="full">

    <!--RUNNING-->

    <ion-item color="primary">
      <ion-label><b [innerHtml]="'mypolls.running'|translate"></b></ion-label>
    </ion-item>
    <ng-container *ngFor="let p of Object.values(G.P.polls)">
      <ion-item *ngIf="p.state=='running'">
        <ion-label [routerLink]="'/poll/'+p.pid">
          <ion-icon [name]="(p.type=='share')?'cut':'trophy'"></ion-icon>&nbsp;
          <b><i>{{p.title}}</i></b>
        </ion-label>
        <ion-buttons *ngIf="can_invite(p)" slot="end" class="ion-no-padding ion-no-margin">
          <ion-badge class="ion-no-margin" style="margin-left:5px;" color="warning" [innerHtml]="'badges.new'|translate"></ion-badge>
          <ion-button fill="clear" [routerLink]="'/inviteto/'+p.pid">
            <ion-icon name="share-social-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ng-container>
    <ng-container *ngIf="Object.keys(G.P.running_polls).length==0">
      <ion-item><p [innerHtml] ="'mypolls.no-running-polls'|translate"></p></ion-item>
    </ng-container>

    <!--RECENTLY CLOSED:-->

    <ion-item color="primary" (click)="closed_expanded=!closed_expanded">
      <ion-icon size="small" [name]="closed_expanded?'caret-down-outline':'caret-forward-outline'"></ion-icon>
      &nbsp;&nbsp;<ion-label [innerHtml]="'mypolls.recently-closed'|translate"></ion-label>
    </ion-item>
    <ng-container *ngIf="closed_expanded">
      <ng-container *ngFor="let p of Object.values(G.P.polls)">
        <ion-item *ngIf="p.state=='closed'" [routerLink]="'/poll/'+p.pid">
          <ion-icon [name]="(p.type=='share')?'cut':'trophy'"></ion-icon>&nbsp;
          <i>{{p.title}}</i>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="Object.keys(G.P.closed_polls).length==0">
        <ion-item><p [innerHtml] ="'mypolls.no-recently-closed-polls'|translate"></p></ion-item>
      </ng-container>
    </ng-container>
    <!--OLDER-->
    <!--
    <ion-item color="light" (click)="older_expanded=!older_expanded">
      <ion-icon size="small" [name]="older_expanded?'caret-down-outline':'caret-forward-outline'"></ion-icon>
      &nbsp;&nbsp;<ion-label [innerHtml]="'mypolls.older'|translate"></ion-label>
    </ion-item>
    <ng-container *ngIf="older_expanded">
      <ng-container *ngFor="let p of Object.values(G.P.polls)">
        <ion-item *ngIf="p.state=='closed'" [routerLink]="'/draftpoll/'+p.pid">
          <ion-icon size="small" [name]="(p.type=='share')?'cut':'trophy'"></ion-icon>&nbsp;
          <small><i>{{p.title}}</i></small>
          <ion-badge class="ion-no-margin" style="margin-left:5px;" color="primary" slot="end">New</ion-badge>
        </ion-item>
      </ng-container>
    </ng-container>
    -->

    <!--DRAFTS:-->

    <ion-item color="light" (click)="drafts_expanded=!drafts_expanded">
      <ion-icon size="small" [name]="drafts_expanded?'caret-down-outline':'caret-forward-outline'"></ion-icon>
      &nbsp;&nbsp;<ion-label [innerHtml]="'mypolls.drafts'|translate"></ion-label>
    </ion-item>
    <ng-container *ngIf="drafts_expanded">
      <ng-container *ngFor="let p of Object.values(G.P.polls)">
        <ion-item *ngIf="p.state=='draft'" [routerLink]="'/draftpoll/'+p.pid">
          <ion-icon size="small" [name]="(p.type=='share')?'cut':'trophy'"></ion-icon>&nbsp;
          <i>{{p.title}}</i>
<!--          <ion-badge class="ion-no-margin" style="margin-left:5px;" color="primary" slot="end">New</ion-badge>
          <ion-badge class="ion-no-margin" style="margin-left:5px;" color="warning" slot="end">Closing soon</ion-badge>
          <ion-badge class="ion-no-margin" style="margin-left:5px;" color="warning" slot="end">Abstaining</ion-badge>
          <ion-badge class="ion-no-margin" style="margin-left:5px;" color="red" slot="end">Closing soon</ion-badge>-->
          <ion-buttons slot="end">
            <ion-badge class="ion-no-margin" style="margin-left:5px;" color="light" [innerHtml]="'badges.draft'|translate"></ion-badge>
            <ion-button fill="clear">
              <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="Object.keys(G.P.draft_polls).length==0">
        <ion-item><p [innerHtml] ="'mypolls.no-draft-polls'|translate"></p></ion-item>
      </ng-container>
    </ng-container>
        
  </ion-list>
  <ion-img src="assets/img/bg_hands_closeup.png"></ion-img>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/draftpoll">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
