<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My polls</ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full"><!--TODO: allow filtering and sorting by state(open/closed/drafts)/deadline/title/creator/priority, allow setting personal priority-->
    <ion-item *ngFor="let pid of Object.keys(g.polls)" [id]="'poll_'+pid" (click)="g.openpoll = g.polls[pid]" [routerLink]="'/openpoll'" >
      <ion-icon [name]="(g.polls[pid].type=='share')?'cut':'trophy'"></ion-icon>&nbsp;
        {{g.polls[pid].title}}
    </ion-item>
    <!--TODO: replace by big blue add-circle sticking at the bottom-right of the screen?:-->
<!--    <ion-item>
      <ion-button no-margin routerLink="newpoll" fill="clear">
        <ion-icon name="add-circle" slot="start"></ion-icon> add poll
      </ion-button>
    </ion-item>-->      
  </ion-list>
</ion-content>
