<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My polls</ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<!--
  <ion-icon name="star-outline"></ion-icon>
  <ion-icon name="star-half-outline"></ion-icon>
  <ion-icon name="star"></ion-icon>
-->
<ion-content *ngIf="ready">
  <ion-list lines="full">
    <ng-container *ngFor="let p of Object.values(G.P.polls)">
      <ion-item *ngIf="p.state=='draft'" [routerLink]="'/draftpoll/'+p.pid">
        <ion-icon [name]="(p.type=='share')?'cut':'trophy'"></ion-icon>&nbsp;
        {{p.title}}
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="newpoll">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
