<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'draftpoll.-page-title'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="showkebap($event)">
        <ion-icon ios="ellipsis-horizontal" md="ellipsis-vertical" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">

    <ion-item color="primary">{{'draftpoll.general-information'|translate}}</ion-item>
    <ion-item [color]="stage==0?'warning':''"><!--stage 0-->
      <ion-label class="labelautowidth" color="primary"><span [class]="stage==0?'current-field':''">{{'draftpoll.type-label'|translate}}&nbsp;</span></ion-label>
      <ion-select class="selectfullwidth" #ionSelects #type_select autofocus tabindex="0" formControlName="poll_type" cancelText="Cancel" okText="OK" 
          (ionChange)="stage=max(stage,formGroup.get('poll_type').valid?1:0)">
        <ion-select-option value="winner">{{'draftpoll.type-winner'|translate}}</ion-select-option>
        <ion-select-option value="share">{{'draftpoll.type-share'|translate}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.poll_type">
        <div class="error-message" *ngIf="formGroup.get('poll_type').hasError(validation.type) 
            && (formGroup.get('poll_type').dirty || formGroup.get('poll_type').touched)">
          {{ validation.message|translate }}
        </div>
      </ng-container>
    </div>
    <ng-container *ngIf="stage>0">
      <ion-item [color]="stage==1?'warning':'light'"><!--stage 1-->
        <ion-label position="floating" color="primary"><span [class]="stage==1?'current-field':''">{{'draftpoll.title-label'|translate}}</span></ion-label>
        <ion-input autofocus tabindex="1" type="text" formControlName="poll_title" required inputmode="text"
          style="font-weight: bold; font-style: italic;"
          [placeholder]="'draftpoll.title-placeholder'|translate"
          (ionBlur)="stage=max(stage,formGroup.get('poll_title').valid?2:0)"></ion-input>      
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.poll_title">
          <div class="error-message" *ngIf="formGroup.get('poll_title').hasError(validation.type) 
              && (formGroup.get('poll_title').dirty || formGroup.get('poll_title').touched)">
            {{ validation.message|translate }}
          </div>
        </ng-container>
      </div>
    </ng-container>    
    <ng-container *ngIf="stage>1">
      <ion-item [color]="stage==2?'warning':''"><!--stage 2-->
        <ion-label position="floating" color="primary"><span [class]="stage==2?'current-field':''">{{'draftpoll.desc-label'|translate}}</span></ion-label>
        <ion-textarea autofocus tabindex="2" rows="1" auto-grow type="text" formControlName="poll_descr" inputmode="text"
          [placeholder]="'draftpoll.desc-placeholder'|translate"
          style="font-style: italic;"
          (ionBlur)="stage=max(stage,formGroup.get('poll_descr').valid?3:0)"></ion-textarea>
        <ion-button tabindex="-1" *ngIf="stage==2 && formGroup.get('poll_descr').value==''" color="primary" slot="end" class="skip-button">Skip</ion-button>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.poll_descr">
          <div class="error-message" *ngIf="formGroup.get('poll_descr').hasError(validation.type) 
              && (formGroup.get('poll_descr').dirty || formGroup.get('poll_descr').touched)">
            {{ validation.message|translate }}
          </div>
        </ng-container>
      </div>
    </ng-container>    
    <ng-container *ngIf="stage>2">
      <ion-item [color]="stage==3?'warning':''"><!--stage 3-->
        <ion-label position="floating" color="primary"><span [class]="stage==3?'current-field':''">{{'draftpoll.url-label'|translate}}</span></ion-label>
        <ion-input tabindex="3" type="text" formControlName="poll_url" inputmode="url"
          [placeholder]="'draftpoll.url-placeholder'|translate"
          style="font-size: smaller;"
          (ionBlur)="stage=max(stage,formGroup.get('poll_url').valid?4:0)"></ion-input>
          <ion-button tabindex="-1" *ngIf="stage==3 && formGroup.get('poll_url').value==''" color="primary" slot="end" class="skip-button">Skip</ion-button>
          <ion-button tabindex="-1" *ngIf="formGroup.get('poll_url').valid && formGroup.get('poll_url').value!=''" fill="clear" slot="end" class="skip-button" (click)="test_url(formGroup.get('poll_url').value)">
            <ion-icon name="open-outline"></ion-icon>&nbsp;Test
          </ion-button>
        </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.poll_url">
          <div class="error-message" *ngIf="formGroup.get('poll_url').hasError(validation.type) 
              && (formGroup.get('poll_url').dirty || formGroup.get('poll_url').touched)">
            {{ validation.message|translate }}
          </div>
        </ng-container>
      </div>
    </ng-container>    
    <ng-container *ngIf="stage>3">
      <ion-item [color]="stage==4?'warning':''"><!--stage 4-->
        <ion-label class="labelautowidth" color="primary"><span [class]="stage==4?'current-field':''">{{'draftpoll.closing-type-label'|translate}}&nbsp;</span></ion-label>
        <!--TODO: maybe use https://github.com/VitaliiBlagodir/cordova-plugin-datepicker instead-->
        <ion-select class="selectfullwidth" tabindex="4" formControlName="poll_closing_datetime_type" required  cancelText="Cancel" okText="OK" 
            (ionChange)="stage=max(stage,formGroup.get('poll_closing_datetime_type').valid?5:0)">
          <ion-select-option value="midnight">{{'draftpoll.closing-type-midnight'|translate}}</ion-select-option>
          <ion-select-option value="custom">{{'draftpoll.closing-type-custom'|translate}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ng-container *ngIf="formGroup.get('poll_closing_datetime_type').value=='custom'">
        <ion-item [color]="stage==4?'warning':''"><!--stage 4-->
          <ion-label position="floating" color="primary"><span [class]="stage==4?'current-field':''">{{'draftpoll.closing-datetime-label'|translate}}</span></ion-label>
          <!--TODO: maybe use https://github.com/VitaliiBlagodir/cordova-plugin-datepicker instead-->
          <ion-datetime tabindex="5" formControlName="poll_closing_datetime" pickerFormat="DD MMMM YYYY HH mm"
            displayFormat="DDDD, DD MMMM YYYY, HH:mm" [min]="now().toISOString()"
            (ionChange)="stage=max(stage,formGroup.get('poll_closing_datetime').valid?5:0)"></ion-datetime>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.poll_closing_datetime">
            <div class="error-message" *ngIf="(!formGroup.get('poll_closing_datetime').valid) 
                && (formGroup.get('poll_closing_datetime').dirty || formGroup.get('poll_closing_datetime').touched)">
              {{ validation.message|translate }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>    

    <ng-container *ngIf="stage>4"><!--stage 5-->
      <ion-item color="light" (click)="advanced_expanded=!advanced_expanded">
        <!--TODO: icon does not show!-->
        <ion-icon size="small" [name]="advanced_expanded?'caret-down-outline':'caret-forward-outline'" color="primary"></ion-icon>
        <ion-label><small>&nbsp;&nbsp;&nbsp;Advanced settings</small></ion-label>
      </ion-item>
      <ng-container *ngIf="advanced_expanded">
        <app-select-server [page]="'draftpoll'"></app-select-server><!--stage 6-->
      </ng-container>
  
      <ion-item color="primary">
        {{formGroup.get('poll_type').value=='winner' ? 'Options' : 'Possible targets'}}
        <ion-button slot="end" fill="clear" (click)="detailstoggle.checked=!detailstoggle.checked">
          <span style="color: white">Details</span>
          <ion-toggle #detailstoggle name="detail-toggle" (click)="detailstoggle.checked=!detailstoggle.checked" color="light" style="--handle-background: black"></ion-toggle>
        </ion-button>
      </ion-item>

      <div *ngFor="let item of [].constructor(n_options); let i = index">
        <ion-item [color]="(i == n_options-1 && option_stage==0)?'warning':'light'"><!--option_stage 0-->
          <ion-button *ngIf="detailstoggle.checked" (click)="expanded[i]=!expanded[i]" fill="clear" slot="start" class="field-expander">
            <ion-icon [name]="expanded[i]?'caret-down-outline':'caret-forward-outline'" slot="icon-only"></ion-icon>
          </ion-button>
          <ion-label position="floating" color="primary"><span [class]="option_stage==0?'current-field':''">{{formGroup.get('poll_type').value=='winner' ? 'Option' : 'Target'}} name</span></ion-label>
          <ion-input type="text" [formControlName]="'option_name'+i" required 
            [placeholder]="'A short name for this '+(formGroup.get('poll_type').value=='winner' ? 'option' : 'possible target')"
            style="font-weight: bold; font-style: italic;"
            (ionBlur)="blur_option_name(i, detailstoggle.checked)"></ion-input>      
          <ion-button *ngIf="i == n_options-1 && i > 1 && formGroup.get('option_name'+i).value==''" color="primary" slot="end" class="skip-button"
            (click)="no_more()">No more for now</ion-button>
          <ion-button *ngIf="n_options>1 && !(i == n_options-1 && i > 1 && formGroup.get('option_name'+i).value=='')" fill="clear" color="primary" slot="end" class="skip-button"
            (click)="del_option(i)"><ion-icon slot="icon-only" name="trash-outline"></ion-icon></ion-button>
          </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.option_name">
            <div class="error-message" *ngIf="formGroup.get('option_name'+i).hasError(validation.type) 
                && (formGroup.get('option_name'+i).dirty || formGroup.get('option_name'+i).touched)">
              {{ validation.message|translate }}
            </div>
          </ng-container>
        </div>
        <ng-container *ngIf="option_stage>0 && expanded[i]">
          <ion-item [color]="i == n_options-1 && option_stage==1?'warning':''"><!--option_stage 1-->
            <ion-label position="floating" color="primary"><span [class]="option_stage==1?'current-field':''">Description (optional)</span></ion-label>
            <ion-textarea rows="1" auto-grow type="text" [formControlName]="'option_descr'+i" 
              [placeholder]="'Some more information about ‘'+formGroup.get('option_name'+i).value+'’?'"
              style="font-style: italic;"
              (ionBlur)="option_stage=max(option_stage,formGroup.get('option_descr'+i).valid?2:0)"></ion-textarea>
            <ion-button *ngIf="option_stage==1 && i == n_options-1 && formGroup.get('option_descr'+i).value==''" color="primary" slot="end" class="skip-button">Skip</ion-button>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.option_descr">
              <div class="error-message" *ngIf="formGroup.get('option_descr'+i).hasError(validation.type) 
                  && (formGroup.get('option_descr'+i).dirty || formGroup.get('option_descr'+i).touched)">
                {{ validation.message|translate }}
              </div>
            </ng-container>
          </div>
        </ng-container>    
        <ng-container *ngIf="option_stage>1 && expanded[i]">
          <ion-item [color]="i == n_options-1 && option_stage==2?'warning':''"><!--option_stage 2-->
            <ion-label position="floating" color="primary"><span [class]="option_stage==2?'current-field':''">“Read more” link (optional)</span></ion-label>
            <ion-input type="text" [formControlName]="'option_url'+i" 
              [placeholder]="'A link to some webpage containing more details about ‘'+formGroup.get('option_name'+i).value+'’?'"
              style="font-size: smaller;"
              (ionBlur)="blur_option_url(i)"></ion-input>
            <ion-button *ngIf="option_stage==2 && i == n_options-1 && formGroup.get('option_url'+i).value==''" color="primary" slot="end" class="skip-button">Skip</ion-button>
            <ion-button *ngIf="formGroup.get('option_url'+i).valid && formGroup.get('option_url'+i).value!=''" fill="clear" slot="end" class="skip-button" (click)="test_url(formGroup.get('option_url'+i).value)">
              <ion-icon name="open-outline"></ion-icon>&nbsp;Test
            </ion-button>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.option_url">
              <div class="error-message" *ngIf="formGroup.get('option_url'+i).hasError(validation.type) 
                  && (formGroup.get('option_url'+i).dirty || formGroup.get('option_url'+i).touched)">
                {{ validation.message|translate }}
              </div>
            </ng-container>
          </div>
        </ng-container>    
      </div>

      <ion-item lines="none" *ngIf="option_stage==10 && formGroup.get('option_url'+(n_options-1)).valid">
        <ion-button shape="round" (click)="add_option()"><ion-icon slot="icon-only" name="add"></ion-icon></ion-button>
      </ion-item>
      <ion-item lines="none">
        <small>Please list at least two {{formGroup.get('poll_type').value=='winner' ? 'options' : 'targets'}}. 
          Don't bother about their ordering.
          Further {{formGroup.get('poll_type').value=='winner' ? 'options' : 'targets'}} 
          can always be added later by the group as long as the poll is running.</small>
      </ion-item>
    </ng-container>

    <ion-item lines="none">
      <ion-label class="ion-text-end" *ngIf="formGroup.get('poll_title').valid"><small>(Draft saved under ‘My polls’)</small></ion-label>
      <ion-button size="large" color="primary" slot="end" [disabled]="n_options<2 || !formGroup.valid" shape="round"
        (click)="formGroup.get('poll_closing_datetime').updateValueAndValidity()"><ion-icon name="checkmark"></ion-icon>&nbsp;Ready</ion-button>
    </ion-item>

    <input hidden id="choosefile" type="file" class="file" (change)="import_csv($event)" />
  </form>
</ion-content>
