<!--
Copyright Contributors to the vodle project.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'privacy.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
        <ion-img src="./assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h1>Datenschutz</h1>

  <p><b>
    A&nbsp;&nbsp;Formale Datenschutzerklärung
  </b></p>
  <p><b>
    B&nbsp;&nbsp;In Kurzform: Was – warum – wie?
  </b></p>

  <br/>

  <iframe width="100%" height="60%" frameBorder="5"
    [src]="E.privacy_statement_url|safe">
  </iframe>

  <h2><b>
    B&nbsp;&nbsp;Was – warum – wie?
  </b></h2>

  <p>
    Den Entwickler:innen und Betreiber:innen von vodle ist der Schutz Deiner Daten sehr wichtig. Dieser Text beschreibt allgemeinverständlich, welche Daten wir verwenden, wie wir sie schützen, und was Du zur Wahrnehmung Deiner Rechte tun kannst. Die rechtlich verbindliche vollständige Datenschutzerklärung findest Du weiter oben unter A.
  </p>

  <h3>
    Zusammenfassung: Wie werden meine Daten geschützt?
  </h3>

  <p>
    vodle schützt Deine Daten auf mehrere Weisen:
  </p>
  
  <ul>
    <li><p>
      Es werden nur Daten gespeichert, die für die Zwecke der Software nötig sind (siehe Abschnitt 1 und 2 weiter unten).
    </p>
    <li><p>
      Daten werden nur dort gespeichert, wo sie zur Verarbeitung oder zum Datenaustausch zwischen Endgeräten oder Teilnehmer:innen benötigt werden (siehe Abschnitt 3).
    </p>
    <li><p>
      Daten werden verschlüsselt gespeichert, wo sie nicht in unverschlüsselter Form benötigt werden, so dass niemand sie lesen kann (siehe Abschnitt 3).
    </p>
    <li><p>
      Daten werden pseudonymisiert gespeichert, wo sie nicht in Personen zugeordneter Form benötigt werden, so dass sie niemand direkt Deiner Person zuordnen kann (siehe Abschnitt 3).
    </p>
    <li><p>
      Es bekommen nur Personen Zugriff auf die Daten, die Zugriff benötigen (siehe Abschnitt 4).
    </p>
    <li><p>
      Die Daten werden nur solange gespeichert, wie nötig (siehe Abschnitt 5).
    </p>
  </ul>


  <h2>
    1. Welche personenbezogenen Daten verwendet vodle?
  </h2>

  <p>
    In vodle werden drei Arten von personenbezogenen Daten verwendet: Nutzerdaten, Abstimmungsdaten und Deine IP-Adresse. 
  </p>

  <h3>
    1.1. Nutzerdaten
  </h3>

  <p>
    Deine Nutzerdaten gehen nur Dich etwas an und werden lediglich zwischen Deinen eigenen Endgeräten in verschlüsselter Form ausgetauscht (siehe unten). Nutzerdaten sind: 
  </p>

  <ul>
    <li><p>
      Deine E-Mail-Adresse (aber <i>keine</i> sonstigen identifizierenden Merkmale wie etwa Name, Adresse oder Telefonnummer)
    </p>
    <li><p>
      Ein von Dir gewähltes Passwort
    </p>
    <li><p>
      Zu welchen Abstimmungen Du eingeladen wurdest, an welchen Du teilnimmst, und welche Du selbst erstellt hast
    </p>
    <li><p>
      Von Dir gewählte Spitznamen von Personen, an die Du delegierst (aber <i>keine</i> sonstigen identifizierenden Merkmale wie etwa E-Mail-Adresse, Adresse oder Telefonnummer)
    </p>
    <li><p>
      Einstellungen, die Du auf der Einstellungsseite vornehmen kannst, insbesondere: bevorzugten Sprache, Farbschema, gewünschten Benachrichtigungen
    </p>
    <li><p>
      Texte und Einstellungen in Entwürfen von Abstimmungen, die Du noch nicht gestartet hast, insbesondere: Typ, Sprache und Enddatum der Abstimmung, Überschriften, Namen von Optionen, Beschreibungstexte und Adressen von externen Webseiten 
    </p>
    <li><p>
      Falls Du als Speicherort Deiner verschlüsselten Nutzerdaten einen anderen Datenbankserver als den zentralen vodle-Datenbankserver angegeben hast (siehe unten), dann speichert vodle auch die Adresse und das Passwort dieses Datenbankservers.
    </p>
  </ul>


  <h3>
    1.2. Abstimmungsdaten
  </h3>

  <p>
    Abstimmungsdaten sind Daten, die zur Durchführung von Abstimmungen nötig sind. Sie gehen daher alle Teilnehmer:innen etwas an und werden deshalb mit diesen in pseudonymisierter und verschlüsselter Form ausgetauscht (siehe unten). Abstimmungsdaten sind:
  </p>
  <p><b>
    Veränderbare Abstimmungsdaten:
  </b></p>
  <ul>
    <li><p>
      Die Stellung der Schieberegler, mit denen Du Deine Bereitschaft signalisierst, den einzelnen Optionen in einer Abstimmung zuzustimmen („Waps“)
    </p>
    <li><p>
      Welche Anfragen nach Delegation Du an andere Personen gestellt hast, welche davon angenommen oder abgelehnt wurden, und die Stellung der Schalter, mit denen Du die Delegation einzelner Optionen an und ausschalten kannst
    </p>
    <li><p>
      Welche Anfragen nach Delegation anderer Personen Du selbst angenommen oder abgelehnt hast
    </p>
  </ul>
  <p><b>
    Unveränderliche Abstimmungsdaten: 
  </b></p>
  <ul>
    <li><p>
      Texte und Einstellungen, die Du bei der Erstellung von neuen Abstimmungen oder Optionen eingegeben hast, insbesondere: Typ, Sprache und Enddatum der Abstimmung, Überschriften, Namen von Optionen,Beschreibungstexte und Adressen von externen Webseiten
    </p>
    <li><p>
      Falls Du als Speicherort der verschlüsselten Abstimmungsdaten einen anderen Datenbankserver als den zentralen vodle-Datenbankserver angegeben hast (siehe unten), dann fällt hierunter auch die Adresse und das Passwort dieses Datenbankservers.
    </p>
  </ul>

  <h3>
    1.3. Deine IP-Adresse
  </h3>
  <p>
    Siehe hierzu Abschnitt 6 weiter unten.
  </p>


  <h2>
    2. Wozu verwendet vodle diese Daten?
  </h2>

  <p>
    vodle verwendet Deine Nutzerdaten…
  </p>
  <ul>
    <li><p>
      damit Du an vodle-Abstimmungen teilnehmen und selbst vodle-Abstimmungen anstoßen kannst
    </p>
    <li><p>
      damit Du Deine Abstimmungsdaten über mehrere vodle-Sitzungen (im Browser oder in der vodle-App) hinweg und über mehrere Endgeräte hinweg verfolgen, verändern und an die Situation anpassen kannst
    </p>
    <li><p>
      damit Du Deine Waps an andere Teilnehmer:innen delegieren und deren Delegationsanfragen beantworten kannst
    </p>
    <li><p>
      damit Du die vodle-App an Deine Bedürfnisse anpassen kannst
    </p>
  </ul>
  <p>
    vodle verwendet Deine Abstimmungsdaten… 
  </p>
  <ul>
    <li><p>
      damit andere Personen an von Dir angestoßenen Abstimmungen teilnehmen und von Dir vorgeschlagene Optionen sehen können
    </p>
    <li><p>
      damit der momentane Stand der Abstimmung und das endgültige Abstimmungsergebnis berechnet und von allen Teilnehmer:innen auf Stimmigkeit überprüft werden können
    </p>
  </ul>


  <h2>
    3. Wo speichert vodle meine Daten?
  </h2>

  <p>
    vodle speichert Nutzer- und Abstimmungsdaten auf Deinem Endgerät und in verschlüsselter Form auch auf einem oder mehreren von Dir ausgewählten Datenbankserver(n). 
  </p>
  <p>
    Deine Abstimmungsdaten werden außerdem in pseudonymisierter Form auch auf den Endgeräten anderer Abstimmungsteilnehmer:innen gespeichert. Dies ist nötig, damit alle Teilnehmer:innen das Abstimmungsergebnis ermitteln und dessen Gültigkeit prüfen können. 
  </p>
  <p>
    vodle sendet darüberhinaus <u>keinerlei</u> Daten an sonstige Dritte, insbesondere <u>nicht</u> an Anbieter von Schriftarten, Bildern oder anderen Inhalten, Services zur Nutzerverfolgung oder Nutzungsanalyse, Werbetreibende oder ähnliche. 
  </p>


  <h3><b>
    3.1. Eigene Endgeräte
  </b></h3>

  <p>
    Auf Deinem Endgerät werden die Daten in unverschlüsselter Form gespeichert, solange Du angemeldet bist. Sie werden dort vollständig gelöscht, sobald Du Dich abmeldest. vodle verwendet <i>keinerlei Cookies</i>. Stattdessen speichert vodle die Daten in der sogenannten „lokalen Speicherung“ („local storage“) des Browsers oder der vodle-App.
  </p>


  <h3>
    3.2. Datenbankserver
  </h3>

  <p>
    Als Datenbankserver kann der vom Potsdam-Institut für Klimafolgenforschung bereitgestellte Standardserver („vodle cloud“) oder beliebige andere für vodle geeignete Datenbankserver verwendet werden, die von Dir selbst oder von Dritten bereitgestellt werden.
  </p>
  <p>
    Wenn Du unter „Einstellungen“ keinen anderen Server auswählst, verwendet vodle für Deine Nutzerdaten den zentralen Server „vodle cloud“. Für Deine Abstimmungsdaten wird jeweils derjenige Server verwendet, der bei der Erstellung der Abstimmung ausgewählt wurde. Wenn dort nichts Anderes eingestellt wurde, ist dies ebenfalls der zentrale Server „vodle cloud“.
  </p>
  <p>
    Auf diesem oder diesen Datenbankserver(n) werden die Daten nur in pseudonymisierter und verschlüsselter Form gespeichert. 
  </p>
  <p>
    Zur <b>Verschlüsselung</b> Deiner Nutzerdaten dient das von Dir gewählte Passwort. Zur Verschlüsselung Deiner Abstimmungsdaten dient ein automatisch generiertes Abstimmungspasswort, das allen Teilnehmer:innen der Abstimmung bekannt ist. 
  </p>
  <p>
    Lediglich das Enddatum einer Abstimmung wird unverschlüsselt gespeichert. Dies ist notwendig, damit der Datenbankserver anhand des Enddatums überprüfen kann, ob gewünschte Änderungen an Abstimmungsdaten zulässig sind, denn Änderungen sind nach dem Enddatum unzulässig.
  </p>
  <p>
    Zur <b>Pseudonymisierung</b> Deiner Nutzerdaten dient ein Schlüssel, der aus Deiner E-Mail-Adresse und Deinem Passwort erzeugt wird, aus dem aber andersherum weder Deine E-Mail-Adresse noch Dein Passwort abgelesen werden können. Das sorgt dafür, dass weder die verschlüsselten noch die entschlüsselten Daten direkt Deiner Person zugeordnet werden können, es sei denn, man kennt sowohl Deine E-Mail-Adresse und Dein Passwort. Zur Pseudonymisierung Deiner Abstimmungsdaten dient ein individueller Schlüssel, der beim ersten Betreten der Abstimmung zufällig erzeugt und in Deinen Nutzerdaten gespeichert wird. 
  </p>


  <h3>
    3.3. Endgeräte anderer Teilnehmer:innen
  </h3>

  <p>
    Auf den Endgeräten der anderen Abstimmungsteilnehmer:innen werden Deine Abstimmungsdaten unverschlüsselt aber pseudonymisiert gespeichert, so dass ohne den Pseudonymisierungsschlüssel keine direkte Zuordnung zu Deiner Person möglich ist. 
  </p>


  <h2>
    4. Wer hat Zugriff auf meine Daten und wer kann meine Daten meiner Person zuordnen?
  </h2>

  <p>
    Solange Du im Browser oder der vodle-App bei vodle eingeloggt bist, hat jede Person, die Deinen Browser oder Deine vodle-App öffnen kann, Zugriff auf Deine Daten, kann diese auch ändern und über Deine E-Mail-Adresse Deiner Person zuordnen. 
  </p>
  <p><i>
    Du solltest Dich deshalb auf gemeinsam genutzten oder nicht hinreichend geschützten Endgeräten immer zwischen den Sitzungen von vodle abmelden!
  </i></p>
  <p>
    Die Betreiber:innen von Datenbankservern und andere Personen, die Zugriff auf die Datenbankserver haben, haben lediglich Zugriff auf die pseudonymisierten und verschlüsselten Daten. Sie können diese daher weder entschlüsseln noch direkt Deiner Person zuordnen, es sei denn, sie kennen Deine E-Mail-Adresse oder Dein Passwort. <i>Du solltest deshalb den Betreiber:innen von Datenbankservern auf keinen Fall Dein Passwort mitteilen!</i>
  </p>


  <h3>
    4.1. Nutzerdaten
  </h3>

  <p>
    Wenn Du aus vodle ausgeloggt bist, hat niemand Zugriff auf Deine Nutzerdaten, es sei denn, man kennt Deine E-Mail-Adresse, Dein Passwort, den Server, den Du für Deine Nutzerdaten verwendest, und das Server-Passwort.
  </p>


  <h3>
    4.2. Abstimmungsdaten
  </h3>

  <p>
    Wenn Du aus vodle ausgeloggt bist, hat außer den Teilnehmer:innen einer Abstimmung niemand Zugriff auf Deine Abstimmungsdaten für diese Abstimmung, es sei denn, man kennt Deine E-Mail-Adresse, Dein Passwort, den Server, den Du für Deine Nutzerdaten verwendest, und das Server-Passwort.
  </p>
  <p>
    Die Teilnehmer:innen einer Abstimmung können Deine Abstimmungsdaten nur in pseudonymisierter Form sehen, aber nicht ändern. Wenn ein:e Teilnehmer:in einer Abstimmung eingeloggt ist, kann auch jede Person, die den Browser oder die vodle-App dieser Person öffnen kann, Deine Abstimmungsdaten dieser Abstimmung in pseudonymisierter Form sehen, aber nicht ändern.
  </p>
  <p>
    Solange Du keine Delegationsanfrage an eine:n andere:n Teilnehmer:in stellst oder eine solche von einer anderen Person annimmst, kann niemand Deine Abstimmungsdaten direkt Deiner Person zuordnen.
  </p>
  <p>
    <b>Offenlegung bei Delegation.</b> 
    Wenn Du eine Delegationsanfrage an eine:n andere:n Teilnehmer:in stellst oder eine solche von einer anderen Person annimmst, kann diese Person allerdings Deine Abstimmungsdaten direkt Deiner Person zuordnen. Umgekehrt kannst Du dann auch die Abstimmungsdaten dieser Person direkt dieser Person zuordnen. Wenn die Person eingeloggt ist, kann auch jede andere Person, die den Browser oder die vodle-App dieser Person öffnen kann, Deine Abstimmungsdaten dieser Abstimmung möglicherweise direkt Deiner Person zuordnen.
  </p>
  <p><i>
    Du solltest also nur von vertrauenswürdigen Personen Delegation erbitten oder deren Delegationsanfragen annehmen!
  </i></p>


  <h2>
    5. Wie lange werden meine Daten gespeichert?
  </h2>

  <h3>
    5.1. Nutzerdaten
  </h3>

  <p>
    Auf Deinem Endgerät werden Deine Nutzerdaten solange gespeichert, bis Du sie änderst oder alle Daten komplett löschst.
  </p>
  <p>
    Auf dem verwendeten Datenbankserver werden Deine Nutzerdaten solange gespeichert, bis Du sie auf Deinem Endgerät änderst oder alle Daten komplett löschst und der Browser oder die vodle-App diese Änderung oder Löschung an den Server mitteilen konnte. Dazu ist eine Internetverbindung nötig.
  </p>


  <h3>
    5.2. Abstimmungsdaten 
  </h3>

  <p>
    Auf Deinem Endgerät werden Deine Abstimmungsdaten solange gespeichert, bis Du sie änderst oder alle Daten komplett löschst. Änderungen sind allerdings nur an veränderbaren Abstimmungsdaten möglich, und dies auch nur vor dem Enddatum der Abstimmung.
  </p>
  <p>
    Auf dem verwendeten Datenbankserver werden Deine Abstimmungsdaten solange gespeichert, bis Du sie auf Deinem Endgerät änderst und der Browser oder die vodle-App diese Änderung an den Server mitteilen konnte. Dazu ist eine Internetverbindung nötig.
  </p>
  <p>
    <b>Achtung:</b>
    Auch wenn Du auf Deinem Endgerät alle Daten komplett löschst, bleiben Deine Abstimmungsdaten auf dem Datenbankserver und den Endgeräten der anderen Teilnehmer:innen dennoch in pseudonymisierter Form gespeichert, bis sie nach einer hinreichend langen Prüfzeit nach dem Ende der Abstimmung durch die Datenbank oder die vodle-App der Teilnehmer:innen gelöscht werden. Dies ist notwendig, um die Eindeutigkeit des Abstimmungsergebnisses zu gewährleisten und alle Teilnehmer:innen die Überprüfung seiner Gültigkeit zu ermöglichen. Diese verlängerte Speicherung betrifft aber nur Deine Abstimmungsdaten, nicht Deine Nutzerdaten.
  </p>


  <h2>
    6. Deine IP-Adresse
  </h2>

  <ul>
    <li><p>
      <b>Webserver.</b>
      Wenn Du vodle im Browser statt in der vodle-App verwendest, wird am Anfang jeder vodle-Sitzung Deine IP-Adresse an den zentralen vodle-Webserver am Potsdam-Institut für Klimafolgenforschung gesendet, um von dort die vodle-Software inklusive aller Schriftarten und Bilder in Deinen Browser zu laden. Der Webserver speichert Deine IP-Adresse jedoch <u>nicht</u>. vodle sendet Deine IP-Adresse auch <u>nicht</u> an Dritte wie z.B. Anbieter von Schriftarten, Bildern oder Software-Komponenten.
    </p>
    <li><p>
      <b>Datenbankserver.</b>
      Beim Datenaustausch zwischen Deinem Endgerät und den verwendeten Datenbankservern wird Deine IP-Adresse an diese Datenbankserver übermittelt. Der vom Potsdam-Institut für Klimafolgenforschung bereitgestellte Datenbankserver „vodle cloud“ speichert Deine IP-Adresse <u>nicht</u>. Wenn Du einen eigenen Datenbankserver verwendest und wie in vodle beschrieben konfigurierst, dann speichert dieser IP-Adressen bereitgestellt werden, könnten aber IP-Adressen speichern.
    </p>
    <li><p>
      <b>Externe Webseiten.</b>
      Die Beschreibungen von Abstimmungen in vodle können Links zu externen Webseiten enthalten, wenn die Ersteller:innen der Abstimmungen solche Links eingetragen haben. Wenn Du auf einen solchen Link klickst, sendet Dein Endgerät möglicherweise Deine IP-Adresse an die externe Webseite, um den externen Inhalt abzurufen. Dieser Abruf geschieht allerdings in einer getrennten Browser-Sitzung, so dass die externe Webseite keinen Zugriff auf Session-Daten Deiner vodle-Sitzung bekommt.
    </p>
  </ul>
  <p>
    Wenn Du die hier beschriebenen Übermittlungen Deiner IP-Adresse verhindern willst, kannst Du Maßnahmen zum anonymen Surfen ergreifen, z.B. einen Proxyserver verwenden. 
  </p>

</ion-content>