<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-content *ngIf="ready">
  <form [formGroup]="formGroup">
    <ion-list lines="full">

      <ion-item lines="none">
        <ion-col class="ion-no-padding ion-no-margin">
          <h1 [innerHtml]="'addoption.header'|translate"></h1> 
          <p [innerHtml]="'addoption.intro'|translate"></p> 
          <small *ngIf="(!!p.language) && (p.language != G.S.language)">
            <p [innerHtml]="'addoption.different-language' | translate: {language: G.S.language_names[p.language]}"></p>
          </small>
          </ion-col>      
      </ion-item>

      <!-- NAME: -->

      <ion-item>
        <ion-label position="floating" color="primary">
          <span [innerHtml]="
              (p.type=='winner' 
              ? 'draftpoll.option-name-label' 
              : 'draftpoll.target-name-label') | translate">
          </span>
        </ion-label>
        <ion-input 
          formControlName="option_name" 
          autofocus="true" #focus_element
          [placeholder]="(p.type == 'winner' 
                          ? 'draftpoll.option-name-placeholder' 
                          : 'draftpoll.target-name-placeholder') | translate"
          type="text" required [maxlength]="E.max_len.name" 
          style="font-weight: bold; font-style: italic;">
        </ion-input>      
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.option_name">
          <div class="error-message" 
              *ngIf="formGroup.get('option_name').hasError(validation.type) 
                      && (formGroup.get('option_name').dirty || formGroup.get('option_name').touched)"
              [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
      </div>

      <!-- DESCRIPTION: -->

      <ion-item>
        <ion-label position="floating" color="primary">
          <span [innerHtml]="'draftpoll.option-desc-label'|translate">
          </span>
        </ion-label>
        <ion-textarea 
          formControlName="option_desc" [maxlength]="E.max_len.desc"
          [placeholder]="'draftpoll.option-desc-placeholder'|translate:{name:formGroup.get('option_name').value}"
          rows="1" auto-grow type="text" 
          style="font-style: italic;">
        </ion-textarea>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.option_desc">
          <div class="error-message" 
              *ngIf="formGroup.get('option_desc').hasError(validation.type) 
                      && (formGroup.get('option_desc').dirty || formGroup.get('option_desc').touched)"
            [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
      </div>

      <!-- READ-MORE LINK (URL): -->

      <ion-item>
        <ion-label position="floating" color="primary">
          <span [innerHtml]="'draftpoll.option-url-label'|translate">
          </span>
        </ion-label>
        <ion-input 
          formControlName="option_url" 
          [placeholder]="'draftpoll.option-url-placeholder'|translate:{name:formGroup.get('option_name').value}"
          type="text" inputmode="url" [maxlength]="E.max_len.url"
          style="font-size: smaller;">
        </ion-input>
        <ion-button 
            *ngIf="formGroup.get('option_url').valid && ![null,''].includes(formGroup.get('option_url').value)" 
            fill="clear" slot="end" class="skip-button" tabindex="-1" 
            (click)="G.open_url_in_new_tab(formGroup.get('option_url').value)">
          <span [innerHtml]="'test'|translate"></span>&nbsp;
          <ion-icon name="open-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.option_url">
          <div class="error-message" 
              *ngIf="formGroup.get('option_url').hasError(validation.type) 
                      && (formGroup.get('option_url').dirty || formGroup.get('option_url').touched)"
            [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
      </div>

      <!-- BUTTONS: -->

      <ion-item lines="none" class="ion-text-right">
        <ion-buttons slot="end">
          <ion-button shape="round"
              (click)="ClosePopover()">
            <ion-icon name="arrow-back-outline"></ion-icon>&nbsp;
            <span [innerHtml]="'cancel'|translate"></span>
          </ion-button>&nbsp;&nbsp;
          <ion-button color="primary" [disabled]="!formGroup.valid"
              shape="round" fill="solid"
              (click)="OK_button_clicked()"><!--type="submit" button-type="submit"-->
            <ion-icon name="checkmark"></ion-icon>&nbsp;
            <span [innerHtml]="'add'|translate"></span>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <small [innerHtml]="'addoption.info' | translate"></small>
      </ion-item>

    </ion-list>
  </form>
</ion-content>
