<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'logout.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <ion-grid class="center-grid">
    <ion-item lines="none">
      <ion-label class="ion-text-center"><h1 style="width:100%;" [innerHtml]="'logout.bye'|translate"></h1></ion-label>
    </ion-item>
  </ion-grid>
-->
</ion-content>
