<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<ion-content *ngIf="ready" class="delegation-popup">
  <!-- HEADER STRIP -->
  <div class="header-bar">
    <ion-label class="title">
      {{ reorder_disabled ? ('delegation-dialog.ranked-title' | translate) : ('delegation-dialog.ranked-title-reorder' | translate) }}
    </ion-label>
  </div>

  <!-- Table Header -->
  <ion-grid class="delegation-table">
    <ion-row class="table-header">
      <ion-col size="2" class="ion-text-start">
        <strong>{{ 'delegation-request.rank' | translate }}</strong>
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <strong>{{ 'delegation-request.nickname' | translate }}</strong>
      </ion-col>
      <ion-col size="3" class="ion-text-end">
        <strong>{{ 'delegation-request.status' | translate }}</strong>
      </ion-col>
      <ion-col size="2" class="ion-text-end">
        <ion-icon name="trash-outline" style="opacity: 0;"></ion-icon>
      </ion-col>
    </ion-row>

    <!-- Reorderable Items -->
    <ion-reorder-group [disabled]="reorder_disabled" (ionItemReorder)="handle_reorder($any($event))">
      <ion-reorder *ngFor="let item of delegation_list">
        <ion-item class="delegate-row">
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="2" class="ion-text-start">
                <strong>{{ item.rank }}</strong>
              </ion-col>
              <ion-col size="5" class="ion-text-center">
                {{ item.nickname }}
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                {{ item.status }}
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <ion-button fill="clear" color="danger" shape="round" (click)="call_revoke(item.did)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-reorder>
    </ion-reorder-group>
  </ion-grid>

  <!-- Buttons -->
  <div class="button-group">
    <ion-button shape="round" color="primary" (click)="reorder_button_clicked()">
      {{ reorder_disabled ? ('delegation-dialog.ranked-reorder' | translate) : ('delegation-dialog.ranked-save' | translate) }}
    </ion-button>
    <ion-button shape="round" fill="outline" color="primary" (click)="close_button_clicked()">
      {{ 'delegation-dialog.ranked-exit' | translate }}
    </ion-button>
  </div>
</ion-content>
