<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome to vodle</ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" no-padding no-margin>
    <ion-item-divider color="secondary">
      <ion-label>
        Been invited for a poll?
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-button (click)="fileopen()">
        <ion-icon name="document" slot="start"></ion-icon>
        Open an invitation file
      </ion-button>
      &nbsp;received&nbsp;by&nbsp;message
    </ion-item>
    <ion-item-divider color="secondary">
      <ion-label>
        Want to decide something?
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-button routerLink="newpoll">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        New choice poll
      </ion-button>
      &nbsp;for&nbsp;picking&nbsp;one&nbsp;of&nbsp;a&nbsp;number&nbsp;of&nbsp;options
    </ion-item>
    <ion-item>
      <ion-button routerLink="newpoll">
        <ion-icon name="add-circle" slot="start"></ion-icon>
        New allocation poll
      </ion-button>
      &nbsp;for&nbsp;allocating&nbsp;resources&nbsp;to&nbsp;tasks&nbsp;or&nbsp;people
    </ion-item>
  </ion-list>
</ion-content>
