<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome to vodle</ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" no-padding no-margin>
    <ion-item>
      <ion-button routerLink="/openpoll" [disabled]="g.username==''"><!--fill="clear" -->
        <ion-icon name="git-commit" slot="start"></ion-icon>
        Last used
      </ion-button>
      &nbsp;
      <ion-button routerLink="/mypolls" [disabled]="g.username==''"><!--fill="clear"-->
        <ion-icon name="list" slot="start"></ion-icon>
        My polls
      </ion-button>
      &nbsp;
      <ion-button routerLink="/help" fill="clear">
        <ion-icon name="help" slot="start"></ion-icon>
        Help
      </ion-button>  
      &nbsp;
      <ion-button routerLink="/about" fill="clear">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        About
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-text slot="start">Username:</ion-text><ion-input [value]="g.username" placeholder="Enter the user name given on paper" required="true" autofocus="true" 
        id="username" (ionBlur)="changeUsername()" [disabled]="!editing"></ion-input>
      <ng-template [ngIf]="!editing">
        <ion-button no-padding no-margin (click)="editing=true"><ion-icon name="create"></ion-icon>&nbsp;edit</ion-button>
      </ng-template>
      <ng-template [ngIf]="editing">
        <ion-button no-padding no-margin (click)="navCtrl.navigateForward('/mypolls')"><ion-icon name="checkmark"></ion-icon>&nbsp;OK</ion-button>
      </ng-template>
    </ion-item>
<!--
    <ion-item>
      Am Ende der Woche: Bitte kurzen&nbsp; 
      <a href="https://www.surveymonkey.de/r/M9KK8SQ">Feedbackfragebogen <ion-icon name="open" fill="clear"></ion-icon></a> 
      &nbsp;ausfüllen – Danke! 
    </ion-item>
    <ion-item-divider color="secondary">
      <ion-label>
        Been invited for a poll?
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin padding-top><ion-col no-padding no-margin>
          <ion-button (click)="fileopen()">
            <ion-icon name="document" slot="start"></ion-icon>
              Open an invitation file
          </ion-button>
        </ion-col></ion-row>
        <ion-row no-padding no-margin padding-bottom><ion-col no-padding no-margin>
          received as a message attachment
        </ion-col></ion-row>
      </ion-grid>
    </ion-item>
    <ion-item-divider color="secondary">
      <ion-label>
        Want to decide something?
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin padding-top><ion-col no-padding no-margin>
          <ion-button routerLink="/newpoll">
            <ion-icon name="add-circle" slot="start"></ion-icon>
            New choice poll
          </ion-button>
        </ion-col></ion-row>
        <ion-row no-padding no-margin padding-bottom><ion-col no-padding no-margin>
          for picking one of a number of options
        </ion-col></ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin padding-top><ion-col no-padding no-margin>
          <ion-button routerLink="/newpoll">
            <ion-icon name="add-circle" slot="start"></ion-icon>
            New allocation poll
          </ion-button>
        </ion-col></ion-row>
        <ion-row no-padding no-margin padding-bottom><ion-col no-padding no-margin>
          for allocacting resources to tasks or people
        </ion-col></ion-row>
      </ion-grid>
    </ion-item>
-->
    <ng-template [ngIf]="g.username=='glinda'">
      <ion-item>
        <ion-button (click)="g.storage.clear()">clear storage</ion-button>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>
