<form [formGroup]="selectServerFormGroup">
  <ion-item>
    <ion-label position="floating" color="primary">{{'server'|translate}}</ion-label>
    <ion-select formControlName="server" [cancelText]="'select-cancel'|translate" [okText]="'OK'|translate" [style]="page!='settings'?'font-size: smaller;':''">
      <ion-select-option *ngIf="page!='settings'" value="default">{{'select-server.same-as-personal'|translate}}</ion-select-option>
      <ion-select-option value="central">{{'select-server.central'|translate}}</ion-select-option>
      <ion-select-option value="poll">{{(page=='settings'?'select-server.same-as-some-poll':'select-server.same-as-other-poll')|translate}}</ion-select-option>
      <ion-select-option value="other">{{'select-server.other'|translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ng-container *ngIf="selectServerFormGroup.get('server').value=='poll'">
    <ion-item>
      <ion-label position="floating" color="primary">{{(page=='settings'?'select-server.which-poll':'select-server.which-other-poll')|translate}}</ion-label>
      <ion-select formControlName="server_from_poll" [cancelText]="'select-cancel'|translate" [okText]="'OK'|translate" [style]="page!='settings'?'font-size: smaller;':''">
        <ng-container *ngFor="let pid of Object.keys(g.polls)">
          <ion-select-option *ngIf="pid!=g.openpoll.pid" [value]="pid">{{g.polls[pid].title}}</ion-select-option>
        </ng-container>
      </ion-select>
    </ion-item>
  </ng-container>    
  <ng-container *ngIf="selectServerFormGroup.get('server').value=='other'">
    <ion-item>
      <small>{{'select-server.please-enter-couchdb'|translate}}</small>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">{{'db-url'|translate}}</ion-label>
      <ion-input [style]="page!='settings'?'font-size: smaller;':''" type="text" formControlName="db_url" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.db_url">
        <div class="error-message" *ngIf="selectServerFormGroup.get('db_url').hasError(validation.type) 
            && (selectServerFormGroup.get('db_url').dirty || selectServerFormGroup.get('db_url').touched)">
          {{ validation.message|translate }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="primary">{{'db-user'|translate}}</ion-label>
      <ion-input [style]="page!='settings'?'font-size: smaller;':''" type="text" formControlName="db_username" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.db_username">
        <div class="error-message" *ngIf="selectServerFormGroup.get('db_username').hasError(validation.type) 
            && (selectServerFormGroup.get('db_username').dirty || selectServerFormGroup.get('db_username').touched)">
          {{ validation.message|translate }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="primary">{{'db-pw'|translate}}</ion-label>
      <ion-input [style]="page!='settings'?'font-size: smaller;':''" [type]="showing_db_password?'text':'password'" 
        formControlName="db_password" required
        (keydown.enter)="showing_db_password=selectServerFormGroup.get('db_password').valid?false:showing_db_password;blur()"
        (keydown.tab)="showing_db_password=selectServerFormGroup.get('db_password').valid?false:showing_db_password;blur()"></ion-input>
      <ion-button slot="end" style="padding-top: 10px;" fill="clear" color="primary" (click)="showing_db_password=!showing_db_password">
        <ion-icon tabindex="-1" [name]="showing_db_password?'eye-off-outline':'eye-outline'"></ion-icon>&nbsp;{{showing_db_password?'hide':'show'}}
      </ion-button>      
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.db_password">
        <div class="error-message" *ngIf="selectServerFormGroup.get('db_password').hasError(validation.type) 
            && (selectServerFormGroup.get('db_password').dirty || selectServerFormGroup.get('db_password').touched)">
          {{ validation.message|translate }}
        </div>
      </ng-container>
    </div>
  </ng-container>
</form>