<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'settings.-page-title'|translate}}</ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="/assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-item color="primary">
      {{'data-storage'|translate}} 
    </ion-item>
    <ion-item>
      <small>{{'settings.data-storage-msg'|translate}} </small>
    </ion-item>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-item>
            <ion-label position="floating" color="primary">{{'email'|translate}}</ion-label>
            <ion-input type="text" formControlName="email" required inputmode="email"
              [placeholder]="'settings.email-placeholder'|translate"
              [disabled]="!editing_email"></ion-input>
            <!--TODO: click OK when hitting enter and valid-->
          </ion-item>
        </ion-col>
        <ion-button style="padding-top: 10px;" color="primary" (click)="editing_email=!editing_email" [disabled]="editing_email && !formGroup.get('email').valid">
          <!--TODO: give focus to field-->
          <ion-icon [name]="editing_email?'checkmark-outline':'pencil-outline'"></ion-icon>{{(editing_email?'OK':'edit')|translate}}
        </ion-button>      
      </ion-row>
    </ion-grid>
    <div class="validation-errors">
    <ng-container *ngFor="let validation of validation_messages.email">
      <div class="error-message" *ngIf="formGroup.get('email').hasError(validation.type) 
          && (formGroup.get('email').dirty || formGroup.get('email').touched)">
        {{ validation.message|translate }}
      </div>
    </ng-container>
    </div>

    <div formGroupName="pw">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <ion-item>
              <ion-label position="floating" color="primary">{{'password'|translate}}</ion-label>
              <ion-input [type]="showing_password?'text':'password'" formControlName="password" required [disabled]="!editing_password"></ion-input><!--TODO: add show/hide toggle-->
              <ion-button style="padding-top: 15px;" slot="end" fill="clear" color="primary" (click)="showing_password=!showing_password">
                <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon>&nbsp;{{(showing_password?'hide':'show')|translate}}
              </ion-button>      
            </ion-item>
          </ion-col>
          <ion-button style="padding-top: 10px;" color="primary" (click)="editing_password=!editing_password" [disabled]="editing_password && !formGroup.get('pw').valid">
            <ion-icon [name]="editing_password?'checkmark-outline':'pencil-outline'"></ion-icon>{{(editing_password?'OK':'edit')|translate}}
          </ion-button>
        </ion-row>
      </ion-grid>
      <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="formGroup.get('pw.password').hasError(validation.type) 
            && (formGroup.get('pw.password').dirty || formGroup.get('pw.password').touched)">
          {{ validation.message|translate }}
        </div>
      </ng-container>
      </div>
      <ng-container *ngIf="editing_password">
        <ion-item>
          <ion-label position="floating" color="primary">{{'retype-password'|translate}}</ion-label>
          <ion-input [type]="showing_password?'text':'password'" formControlName="confirm_password" required [disabled]="!editing_password"></ion-input>
        </ion-item>
        <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.passwords_match">
          <div class="error-message" *ngIf="formGroup.get('pw').hasError('must_match') 
              && (formGroup.get('pw.confirm_password').dirty || formGroup.get('pw.confirm_password').touched)">
            {{ validation.message|translate }}
          </div>
        </ng-container>
        </div>
      </ng-container>
    </div>
  </form>

  <app-select-server [page]="'settings'"></app-select-server>

    <!--<ion-item color="primary">
      Appearance 
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Language</ion-label>
      <ion-select formControlName="language" cancelText="Cancel" okText="OK">
        <ion-select-option value="en">English</ion-select-option>
        <ion-select-option value="de">Deutsch</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Theme</ion-label>
      <ion-select formControlName="theme" cancelText="Cancel" okText="OK">
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
      </ion-select>
    </ion-item>-->
</ion-content>
