<!--
(C) Copyright 2015–2022 Potsdam Institute for Climate Impact Research (PIK), authors, and contributors, see AUTHORS file.

This file is part of vodle.

vodle is free software: you can redistribute it and/or modify it under the 
terms of the GNU Affero General Public License as published by the Free 
Software Foundation, either version 3 of the License, or (at your option) 
any later version.

vodle is distributed in the hope that it will be useful, but WITHOUT ANY 
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR 
A PARTICULAR PURPOSE. See the GNU Affero General Public License for more 
details.

You should have received a copy of the GNU Affero General Public License 
along with vodle. If not, see <https://www.gnu.org/licenses/>. 
-->

<!--
TODO:
- save password option
-->

<ion-header>
  <ion-toolbar style="padding-right:11px;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title [innerHtml]="'settings.-page-title'|translate"></ion-title>
    <ion-thumbnail slot="end">
      <ion-img src="./assets/topright_icon.png"></ion-img>
    </ion-thumbnail>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ready">
  <form [formGroup]="formGroup">

    <!--DATA STORAGE:-->

    <ion-item color="primary" [innerHtml]="'settings.data-storage'|translate"> 
    </ion-item>
    <ion-item>
      <small [innerHtml]="'settings.data-storage-msg'|translate"></small>
    </ion-item>

    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-item>
            <ion-label position="floating" color="primary" [innerHtml]="'email'|translate"></ion-label>
            <ion-input 
              formControlName="email" 
              [placeholder]="'settings.email-placeholder'|translate"
              type="text" inputmode="email" required [maxlength]="E.max_len.name"
              [readonly]="!editing_email"
              [style]="editing_email
                    ?'pointer-events:;'
                    :'pointer-events:none;font-size:smaller;'"
              (keydown.enter)="editing_email=!formGroup.get('email').valid"
              (keydown.tab)="editing_email=!formGroup.get('email').valid"
              (ionChange)="set_email()" debounce="100">
            </ion-input>
            <!--TODO: click OK when hitting enter and valid-->
          </ion-item>
        </ion-col>
        <ion-button fill="clear"
            tabindex="-1" style="padding-top: 10px;"
            [disabled]="editing_email && !formGroup.get('email').valid"
            (click)="editing_email=!editing_email">
          <!--TODO: give focus to field-->
          <ion-icon [name]="editing_email?'checkmark-outline':'pencil-outline'"></ion-icon>
          <span [innerHtml]="(editing_email?'OK':'settings.edit')|translate"></span>
        </ion-button>
      </ion-row>
    </ion-grid>
    <div class="validation-errors">
    <ng-container *ngFor="let validation of G.S.validation_messages.email">
      <div class="error-message" 
          *ngIf="formGroup.get('email').hasError(validation.type) 
                  && (formGroup.get('email').dirty || formGroup.get('email').touched)"
          [innerHtml]="validation.message|translate">
      </div>
    </ng-container>
    </div>

    <div formGroupName="pw">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-label position="floating" color="primary" [innerHtml]="'password'|translate"></ion-label>
              <ion-input 
                formControlName="password" [maxlength]="E.max_len.name"
                clearOnEdit="false" clearInput="true"
                [readonly]="!editing_password"
                [type]="showing_password?'text':'password'" required 
                [style]="editing_password
                      ?'pointer-events:;'
                      :'pointer-events:none;font-size:smaller;'"
                (ionChange)="set_password()" debounce="100">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-buttons>
            <ion-button 
                tabindex="-1" style="padding-top: 15px;" fill="clear" color="primary" 
                (click)="showing_password=!showing_password">
              <ion-icon [name]="showing_password?'eye-off-outline':'eye-outline'"></ion-icon>
              <!--&nbsp;<span [innerHtml]="(showing_password?'hide':'show')|translate"></span>-->
            </ion-button>
            <ion-button fill="clear"
                tabindex="-1" style="padding-top: 10px;" color="primary" 
                (click)="editing_password=!editing_password" 
                [disabled]="editing_password && !formGroup.get('pw').valid">
              <ion-icon [name]="editing_password?'checkmark-outline':'pencil-outline'"></ion-icon>
              <!--<span [innerHtml]="(editing_password?'OK':'settings.edit')|translate"></span>-->
            </ion-button>
          </ion-buttons>
        </ion-row>
      </ion-grid>
      <div class="validation-errors">
      <ng-container *ngFor="let validation of G.S.validation_messages.password">
        <div class="error-message" 
            *ngIf="formGroup.get('pw.password').hasError(validation.type) 
                    && (formGroup.get('pw.password').dirty || formGroup.get('pw.password').touched)"
            [innerHtml]="validation.message|translate">
        </div>
      </ng-container>
      </div>
      <ng-container *ngIf="editing_password">
        <ion-item>
          <ion-label position="floating" color="primary" [innerHtml]="'retype-password'|translate"></ion-label>
          <ion-input 
            formControlName="confirm_password" 
            #input_retype_password 
            [disabled]="!editing_password"
            clearOnEdit="false" clearInput="true"
            [type]="showing_password?'text':'password'" required [maxlength]="E.max_len.name" 
            [style]="editing_password
              ?'pointer-events:;'
              :'pointer-events:none;font-size:smaller;'"
            (keydown.enter)="editing_password=!formGroup.get('pw').valid;showing_password=formGroup.get('pw').valid?false:showing_password"
            (keydown.tab)="editing_password=!formGroup.get('pw').valid;showing_password=formGroup.get('pw').valid?false:showing_password"
            (ionChange)="set_password()" debounce="100">
          </ion-input>
        </ion-item>
        <div class="validation-errors">
        <ng-container *ngFor="let validation of G.S.validation_messages.passwords_match">
          <div class="error-message" 
              *ngIf="formGroup.get('pw').hasError('must_match') 
                      && (formGroup.get('pw.confirm_password').dirty || formGroup.get('pw.confirm_password').touched)"
              [innerHtml]="validation.message|translate">
          </div>
        </ng-container>
        </div>
      </ng-container>
    </div>
  </form>

  <ion-item 
      [style.display]="E.data_service.allow_other_servers?'block':'none'" 
      color="light" (click)="advanced_expanded=!advanced_expanded">
    <ion-icon size="small" [name]="advanced_expanded?'caret-down-outline':'caret-forward-outline'" color="primary"></ion-icon>
    <ion-label>
      <small [innerHtml]="'&nbsp;&nbsp;&nbsp;'+('draftpoll.advanced-settings'|translate)"></small>
    </ion-label>
  </ion-item>
  <app-select-server #select_server 
    [style.display]="(advanced_expanded && E.data_service.allow_other_servers)?'block':'none'" 
    [page]="'settings'" [page_object]="this">
  </app-select-server>

  <!--APPEARANCE-->

  <form [formGroup]="formGroup">
    <ion-item color="primary" [innerHtml]="'settings.appearance'|translate">
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">
        <ion-icon name="language-outline"></ion-icon>&nbsp;
        <span [innerHtml]="'language'|translate"></span>
      </ion-label>
      <ion-select #ionSelects formControlName="language" 
          [cancelText]="'cancel'|translate" [okText]="'OK'|translate"   
          (ionChange)="set_language()">
        <ion-select-option *ngFor="let lang of translate.langs" [value]="lang" [innerHtml]="G.S.language_names[lang]"></ion-select-option>
      </ion-select>
    </ion-item>
  <!--  <ion-item>
      <ion-label position="floating" color="primary">Theme</ion-label>
      <ion-select formControlName="theme" 
          [cancelText]="'cancel'|translate" [okText]="'OK'|translate" 
          >
        <ion-select-option value="light">Light</ion-select-option>
        <ion-select-option value="dark">Dark</ion-select-option>
      </ion-select>
    </ion-item>-->

    <!--TODO: NOTIFICATIONS
      - if "denied", grey it out and show a message to please grant notifications first.
    -->

  </form>
  <ion-item color="primary" [innerHtml]="'settings.notifications'|translate">
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="notify_of.new_option" (ngModelChange)="notify_changed()"></ion-checkbox><ion-label [innerHtml]="'notify_of.new_option'|translate"></ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="notify_of.delegation_accepted" (ngModelChange)="notify_changed()"></ion-checkbox><ion-label [innerHtml]="'notify_of.delegation_accepted'|translate"></ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="notify_of.delegation_declined" (ngModelChange)="notify_changed()"></ion-checkbox><ion-label [innerHtml]="'notify_of.delegation_declined'|translate"></ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="notify_of.poll_closing_soon" (ngModelChange)="notify_changed()"></ion-checkbox><ion-label [innerHtml]="'notify_of.poll_closing_soon'|translate"></ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="notify_of.poll_closed" (ngModelChange)="notify_changed()"></ion-checkbox><ion-label [innerHtml]="'notify_of.poll_closed'|translate"></ion-label>
  </ion-item>
  <!--and:
  when my vote turns into an abstention
  when my voting weight changes
  when my delegate's weight changes
  when my delegate delegates my ratings further
  when my delegate changed their ratings
  -->
</ion-content>
